[2014-02-28 10:38] yorickpeterse opened #1 "Lexing doctypes"
Both the lexer and the HTML parser should support the processing of doctypes. Currently both already have basic support for doctypes but this should be improved so that it's easier to extract information such as the doctype URL.

[2014-02-28 10:42] yorickpeterse opened #2 "Lexing CDATA tags"
Currently working on this but both the lexer and HTML parser should support CDATA tags. CDATA tags should be broken up into 3 components:
1. The start tag `<![CDATA[`
2. The body, which can be anything but the end tag
3. The end tag `]]>`

Worth mentioning, the following is valid (and currently not lexed properly):

[code]

This is also valid:

[code]

And so is this:

[code]

It's worth noting th

[2014-02-28 10:48] yorickpeterse opened #3 "Lexing of regular tags"
Currently there is very, very basic support for lexing HTML tags. The resulting tokens aren't exactly useful though as `T_TEXT` is used for pretty much everything.

Given the tag `<p class="foo">Bar</p>` the resulting tokens should probably be something along the lines of the following:

[code]

I'm not really sure yet if attribute names/values should already be treated as such on lexer level or w

[2014-02-28 10:53] yorickpeterse opened #4 "Lexing of comments"
The lexer should support comments. These should be treated as special tokens instead of `T_TEXT`.

Given this input:

[code]

The resulting tokens should be something along the lines of this:

[code]

[2014-02-28 10:56] yorickpeterse opened #5 "Parsing of comments"
This depends on #4. Given the input `` the AST should be something along the lines of:

[code]

[2014-02-28 19:10] #2 closed, assigned to nobody

[2014-02-28 22:10] #1 closed, assigned to nobody

[2014-02-28 22:27] #4 closed, assigned to nobody

[2014-03-10 23:14] yorickpeterse opened #6 "Channel-like parsing API"
The article https://www.tbray.org/ongoing/When/200x/2003/03/16/XML-Prog discusses an interesting topic: a pull-parsing API where you can define the node types to act on. This is similar to most Channel APIs where you specify a action to occur for a certain data type.

I'll have to look into up to what extend I'll include this in Oga but it is definitely something I want to be available one way or

[2014-03-16 20:03] yorickpeterse opened #7 "Support for the HTML5 syntax"
This will be a tricky one due the W3, after taking too many drugs, deciding to completely butcher the HTML syntax. For example, every void element (e.g. `<link>`) can omit the closing `/>` and instead use `>`. In other words, this is now valid:

[code]

This will require either a dedicated lexer/parser or an extra flag. In case of the latter this flag would be used to indicate HTML5 parsing mode.

[2014-03-23 18:12] #3 closed, assigned to nobody

[2014-03-23 18:15] yorickpeterse opened #8 "Streaming APIs"
Currently when one tries to lex a large XML file (say, 100MB) memory usage of the process will continue to grow until it gets OOM killed. The same would most likely happen to the parser and anything built on top of it.

In order to support lexing/parsing of large files the various APIs (or at least the lexer and parser) should support streaming of input. In case of the lexer this would mean that t

[2014-03-24 10:32] #5 closed, assigned to nobody

[2014-03-24 10:39] yorickpeterse opened #9 "DOM API"
A DOM API should be introduced that acts similar to Nokogiri (in certain ways). The DOM API should be built on top of the AST returned by `Oga::Parser`. It should allow the querying of elements using XPath and CSS. The latter would be built on top of XPath.

Rough sketch of the DOM API:

[code]

TODO list:
- [x] XPath handling: https://github.com/YorickPeterse/oga/issues/10
- [ ] CSS selector hand

[2014-03-24 10:42] yorickpeterse opened #10 "XPath Handling"
For https://github.com/YorickPeterse/oga/issues/9 Oga needs to be able to parse XPath queries into an AST. Said AST then has to be consumed in order to figure out what nodes to pull from a DOM document.

For this the following would have to be added:
- [x] Lexer
  - [x] Lexing of all known XPath tokens
  - [x] Tests for the primitive types (strings, integers and floats)
  - [x] Tests for every kno

[2014-03-24 10:43] yorickpeterse opened #11 "CSS Selector Handling"
Similar to #10 Oga should be able to handle CSS selectors for #9 . These will be built on top of XPath selectors. That is, a given CSS selector will be compiled into its XPath equivalent.

For this the following has to be added:
- [x] Lexer
- [x] Parser
- [x] XPath compiler
  - [x] :root
  - [x] :nth-child()
  - [x] :nth-last-child()
  - [x] :nth-of-type()
  - [x] :nth-last-of-type()
  - [x] :firs

[2014-03-24 10:44] #7 closed, assigned to nobody

[2014-03-24 14:07] yorickpeterse opened #12 "Lexing/parsing of XML declaration tags"
Oga should be able to lex/parse tags such as `<?xml version="1.0" ?>`. An easy way would be to simply treat everything between `<?xml` and `?>` as plain text.

Example input:

[code]

[2014-03-24 20:30] #12 closed, assigned to nobody

[2014-04-03 20:09] yorickpeterse opened #13 "Nokogiri Migration Guide"
To ease the migration of Nokogiri to Oga a guide should be created outlining the various changes required to one's code to use Oga.

I've decided to do this instead of creating a Nokogiri compatible API. This is due to the latter being a rather fragile solution. That is, if some third-party Gem were to use Nokogiri and your own project the Oga compatibility layer then those two could conflict.

Sa

[2014-04-03 20:12] YorickPeterse opened #14 "Nokogiri Pain Points"
When I started sharing the word of my work on Oga various developers remarked that they were very happy with a pure Ruby XML/HTML parser. I found this a bit surprising as I've always assumed people were generally happy enough with Nokogiri (at least before they started shipping libxml). To be more specific, I've not come across a lot of negative articles/resources about Nokogiri.

As a result of t

[2014-04-12 22:02] postmodern opened #15 "Common XML memory exhaustion attacks"
https://pypi.python.org/pypi/defusedxml something to keep in mind when designing Oga.

[2014-04-28 21:47] #8 closed, assigned to nobody

[2014-04-29 21:07] #6 closed, assigned to nobody

[2014-05-06 08:43] yorickpeterse opened #16 "Setup JRuby extension"
Currently the `native-ext` branch contains a C extension for the XML lexer. This same setup should be ported over to JRuby. Because I don't want to maintain the same Ragel grammar in 2 places I'll be generating JRuby/C code using this grammar. The following steps are involved:
- [x] Port over the C extension to a JRuby extension, keep the grammars separate for now. Once done, test everything to ma

[2014-05-07 08:58] #16 closed, assigned to nobody

[2014-05-09 19:54] dsisnero opened #18 "Xml Parsing Architecture"
Not really an issue but here's a good article on one of the fastest parsers which has similar ideas to vtd-xml

http://aosabook.org/en/posa/parsing-xml-at-the-speed-of-light.html

[2014-05-14 08:41] yorickpeterse opened #19 "Using IO instances as lexer input"
The lexer should be able to take an IO object as input. This would allow Oga to parse files as a stream without requiring users to first load the entire file into memory.

[2014-05-14 18:06] YorickPeterse opened #20 "Syntax Error Handling"
Oga should be capable of dealing with invalid XML/HTML up to a certain extend. To deal with this an input correction system would have to be implemented at the lowest level possible.

Initially I thought about implementing this between the lexer and the parser. The problem however is is that tokens from the lexer are emitted one by one instead as a whole. As a result of this you can not keep track

[2014-05-19 09:50] yorickpeterse opened #21 "Clean up XML lexer"
Before I continue working on XPath support the XML lexer should be cleaned up. Every Ragel action should only omit a single token. The actions for lexing elements should also be fixed as they are currently set up in a rather hacky way. As a result of this input such as `>` is ignored when it should be lexed as `T_TEXT`.

[2014-05-25 17:24] #21 closed, assigned to nobody

[2014-05-25 22:33] #19 closed, assigned to nobody

[2014-06-04 09:21] yorickpeterse opened #22 "Lexing inline Javascript/CSS"
Inline Javascript/CSS should be lexed as `T_TEXT`. Right now it seems to be processed as if it is XML.

[2014-06-23 22:36] #18 closed, assigned to nobody

[2014-06-23 22:37] #15 closed, assigned to nobody

[2014-06-23 22:46] YorickPeterse opened #23 "Optimize XML parser"
The various XML parser benchmarks show a dramatic decrease in performance (= increase in execution time) compared to the XML lexer. While it is expected for execution timings to increase a bit I did not expect them to go from 500 ms to around 3,5 seconds. With an empty grammar (that is, no associated Ruby code) Racc would still take around 1,8 seconds to process 10MB of XML. This is not acceptable

[2014-06-26 10:20] yorickpeterse opened #24 "Comments surrounding elements mess up the lexer"
The following code:

[code]

Returns the following document tree:

[code]

[2014-08-20 10:16] #24 closed, assigned to nobody

[2014-09-02 18:17] #10 closed, assigned to nobody

[2014-09-03 22:14] #22 closed, assigned to nobody

[2014-09-04 12:41] yorickpeterse opened #27 "descendant-or-self performance is really bad"
When querying the document found in https://gist.github.com/YorickPeterse/a81067a5a77e9d8ece2c using expression `//wf` it seems to take a _really_ long time to complete. On the other hand, `KAF/text/wf` is nearly instant.

[2014-09-05 18:50] #27 closed, assigned to nobody

[2014-09-09 19:16] #9 closed, assigned to nobody

[2014-09-09 19:18] yorickpeterse opened #28 "Better APIs for modifying DOM trees"
Right now Oga only provides basic APIs for modifying DOM documents. For example, you can inject elements into a node set. However, when you have a single element there is no easy way to place something before/after it. The following should be added:
- [x] API for adding elements before a specific element
- [x] API for adding elements after a specific element

[2014-09-09 20:49] #28 closed, assigned to nobody

[2014-09-10 21:01] yorickpeterse opened #29 "Encode documents according to XML declaration tags / HTML charset tags"
Currently Oga just uses Ruby's default encoding when parsing documents. XML documents however can specify the document encoding using XML declaration tags (e.g. `<?xml encoding="..." ?>`). In HTML documents a `<meta charset="..." />` can also be used for this.

I'm not sure if Oga should automatically change the encoding or not. For example, what should happen if the encoding value is not recogniz

[2014-09-10 22:02] #13 closed, assigned to nobody

[2014-09-12 14:45] yorickpeterse opened #30 "Move node_type into the pull parser"
The `node_type` method found on various XML nodes (e.g. `XML::Element#node_type`) should be moved into the `XML::PullParser` class. This is something used only by the pull-parser, it doesn't make sense to expose it publicly as a method.

[2014-09-12 14:57] yorickpeterse opened #31 "Improve API documentation"
Better documentation should be added for (at least):
- [x] namespace usage and registration, especially when manually assigning namespaces
- [x] modifying documents (the README example is pretty basic)
- [x] general examples (e.g. for the most common use cases)
- [x] ~~error output/handling~~ not available yet in 0.2
- [x] manually creating DOM trees directly from Ruby
- [x] correct YARD `@param`

[2014-09-12 17:43] jrochkind opened #32 "Missing space serializing attributes"
[code]

outputs:

[code]

I don't _think_ that's valid XML, it's definitely not very pretty XML, there should be a space after the quoted attribute value before the next attribute.

[2014-09-13 09:48] #32 closed, assigned to nobody

[2014-09-13 13:10] #30 closed, assigned to nobody

[2014-09-13 20:47] jrochkind opened #35 "document root xpath not recognized"
xpath `/` should select the root node.

Assume:

[code]

Works as expected in nokogiri.

[2014-09-13 22:04] razielgn opened #36 "Fully capitalized <BR> yields error."
Oga version `0.1.1`

I'm not sure this behavior is expected, but I tried to parse some HTML which included `<BR>`.

[code]

I got:

[code]

I expected:

[code]

---

Notes: these work as expected.

[code]

[2014-09-13 22:06] razielgn opened #37 "Poorly formatted HTML stalls the parser."
Oga version `0.1.1`

These:

[code]

[code]

stall the parser completely.

[2014-09-14 00:48] colindean opened #38 "Unable to install on JRuby 1.7.15"
Found while working on [pittmesh/kismet-gpxsml#2](https://github.com/pittmesh/kismet-gpsxml/issues/2#issuecomment-55511765)...

[code]

[code]

[2014-09-14 01:48] #38 closed, assigned to nobody

[2014-09-14 11:03] yorickpeterse opened #40 "Top-level namespaces take precedence over more deeply nested ones"
Code:

[code]

This should should the second namespace, but instead it returns the first one. This is due to the way `available_namespaces` merges namespaces together: it starts at the bottom, adds namespaces, then moves further up. This results in higher-level namespaces overwriting more deeply nested ones (instead of the other way around).

[2014-09-14 12:34] #36 closed, assigned to nobody

[2014-09-14 16:42] #40 closed, assigned to yorickpeterse

[2014-09-15 17:34] krasnoukhov opened #42 "SAX interface"
This is probably a feature request. I'm maintainer of [sax-machine](https://github.com/pauldix/sax-machine), which provides neat mappings for XML to Ruby objects. Also, sax-machine is a core part of [feedjira](https://github.com/feedjira/feedjira) gem which is the best solution to parse RSS/Atom feeds in Ruby.

It would be really nice to have oga as a backend for sax-machine and feedjira. But curr

[2014-09-15 18:13] #35 closed, assigned to yorickpeterse

[2014-09-15 18:13] #37 closed, assigned to yorickpeterse

[2014-09-15 18:36] jwoertink opened #43 "Ox like errors?"
I'm digging this already :+1:

This is sort of a feature request, but when parsing XML with [Ox](https://github.com/ohler55/ox) There are some pretty useful errors.

[code]

Currently with Oga it looks like

[code]

[2014-09-15 18:40] jrochkind opened #44 "should namespace-uri() work with default namespaces?"
I may be wrong or confused about what the right or intended behavior here is. But.

[code]

oga returns 0 elements there.

nokogiri/libxml returns 2 elements (the `<container>` and `<element>`) with the same document and xpath query.

oga namespace-uri() seems like it does not take account of default namespaces. Should it?

[2014-09-15 18:55] #29 closed, assigned to yorickpeterse

[2014-09-15 19:37] #44 closed, assigned to nobody

[2014-09-15 19:58] jrochkind opened #45 "default namespaces lost in to_xml round-trip"
[code]

I think it ought to preserve the default namespace decleration on to_xml output?

[2014-09-15 20:07] #45 closed, assigned to nobody

[2014-09-15 21:55] jrochkind opened #46 "output empty elements as empty elements?"
Nokogiri will output an empty element as an empty element (no closing tag, xml empty element syntax)

[code]

Oga will output as an opening and closing tag, just containing no content.

[code]

Would it make sense for oga to do the same thing here? If noticing an element that has completely empty content (not even a text node), serialize as an XML empty element (no closing tag)?

Other discrepenci

[2014-09-15 22:45] #46 closed, assigned to nobody

[2014-09-15 23:10] #43 closed, assigned to nobody

[2014-09-16 13:47] jrochkind opened #47 "nil exception, i'm not sure what's causing it"
[code]

[code]

[2014-09-16 14:25] #42 closed, assigned to nobody

[2014-09-22 15:51] yorickpeterse opened #48 "Support Enumerator as an input source"
The `Enumerator` class can be used to stream data without having to actually write a dedicated class for it. For example:

[code]

[2014-09-23 15:10] krasnoukhov opened #49 "Unescape HTML entities"
Not sure if this is a bug, but consider following example:

[code]

The output is:

[code]

It looks like Nokogiri does unescape HTML entities in a node text by default. The question is should Oga do the same?

[2014-09-23 15:25] krasnoukhov opened #50 "Unescape HTML entities in attributes (SAX)"
This is a bit different to a #49, basically because it's related only to SAX parsing differences comparing to Nokogiri.

Consider following example:

[code]

The output is:

[code]

As you Nokogiri provides [an option](http://nokogiri.org/Nokogiri/XML/SAX/ParserContext.html#method-i-replace_entities-3D) to make HTML entities to be unescaped in resulting attributes. The question is this relevant to

[2014-09-23 16:08] #50 closed, assigned to nobody

[2014-09-23 21:57] yorickpeterse opened #51 "Count newlines in C/Java or disable by default"
Currently the lexer counts newlines in Ruby for `T_TEXT` nodes. This isn't exactly the most efficient way of doing things (sadly). For example, with this procedure in place the lexer can chew through 10MB of XML in ~520 ms. Removing this results in the lexer processing the same amount of data in ~420 ms.

Considering this is a feature only used when displaying parser errors it's a waste to always

[2014-09-23 22:01] yorickpeterse opened #52 "Optimize checking of capitalized HTML void elements"
Currently the lexer contains the following code to deal with capitalized HTML void element names: https://github.com/YorickPeterse/oga/blob/master/lib/oga/xml/lexer.rb#L325. This results in an extra String allocation for every open tag of an element (`String#downcase` calls `String#dup` internally).

The most likely solution here is to expand `Oga::XML::HTML_VOID_ELEMENTS` so that it contains all

[2014-09-23 22:16] yorickpeterse opened #53 "Consider removing source XML/HTML from parser errors"
Right now the parser includes source code in error messages. That is, when an error occurs up to 5 lines before and after the problematic line are included in the error message. While this makes the error messages a bit more useful it has a few problems:
- It requires a line number to be present for the current token. If I decide to disable this by default (see #51) then we wouldn't show the sourc

[2014-09-23 22:20] #47 closed, assigned to yorickpeterse

[2014-09-24 09:09] #52 closed, assigned to yorickpeterse

[2014-09-25 20:53] #51 closed, assigned to yorickpeterse

[2014-09-25 20:58] #53 closed, assigned to yorickpeterse

[2014-09-28 20:27] #48 closed, assigned to yorickpeterse

[2014-10-07 09:44] yorickpeterse opened #54 "after_element doesn't receive meaningful arguments in the SAX API"
In the SAX API the return value of `on_element` is reset, this in turn means that `after_element` only receives `nil` as an argument (https://github.com/YorickPeterse/oga/issues/31#issuecomment-58158592). Instead this method should receive at least the element name.

[2014-10-18 03:34] AndrewKvalheim opened #56 "Predicate doesn't take effect when descendant is specified on the same node"
I don't trust my understanding of XPath yet. Is this a bug? I expect the last set to be empty:

[code]

[2014-10-20 09:11] yorickpeterse opened #57 "Querying elements with default namespaces is painful"
When an element has a custom default namespace associated, querying said element becomes painful. Due to the namespace being present you _have_ to specify a wildcard as the namespace name in order to retrieve it:

[code]

To solve this the XPath evaluator should only test namespace names if a name is explicitly set.

cc @hannesfostie

[2014-10-23 20:36] yorickpeterse opened #58 "Lexing XML attribute values with newlines triggers memory allocation errors"
This only happens when an IO instance is used as the input. Simple repro:

[code]

This results in:

[code]

Digging around, it seems that `ts` in the C code is set to `NULL` when processing attribute values (= strings). Not sure yet what the heck is going on.

[2014-10-26 10:45] #58 closed, assigned to yorickpeterse

[2014-10-26 16:29] yorickpeterse opened #59 "Grouping of XPath expressions using parenthesis"
XPath allows you to group expressions together using `(` and `)`. This is useful when the standard precedence rules should be altered (or ensured). Currently the parser does not support this.

[2014-10-26 21:38] #59 closed, assigned to nobody

[2014-10-27 10:10] yorickpeterse opened #60 "Write easy to grok XPath specification"
The official XPath specification from the W3 is quite a pain to read, mainly due to the lack of examples and the use of confusing language. Oga should provide an easy to grok specification that can be used as a reference both when implementing an XPath evaluator as well as when one is just trying to learn more about XPath.

[2014-10-27 10:11] yorickpeterse opened #61 "Write easy to grok CSS specification"
The CSS3 selectors specification is an absolute pathetic mess of garbage. Important selectors such as `:nth-child(2n-5)` are simply not specified, others are discussed only very briefly. Oga should provide an easy to grok, alternative specification that solely focuses on the selectors (and not all other parts of CSS3).

[2014-11-03 23:32] #60 closed, assigned to nobody

[2014-11-13 00:22] #56 closed, assigned to yorickpeterse

[2014-11-13 23:26] #11 closed, assigned to nobody

[2014-11-16 21:54] #61 closed, assigned to nobody

[2014-11-16 22:08] #57 closed, assigned to nobody

[2014-11-16 22:33] #54 closed, assigned to yorickpeterse

[2014-11-17 08:13] #31 closed, assigned to nobody

[2014-11-17 21:41] #49 closed, assigned to yorickpeterse

[2014-11-18 15:24] billdueber opened #63 "(MRI only) Parsing XML that include entity declaration from a file handle (but not string) errors out"
The file in question:

[code]

[code]

[2014-11-18 19:03] #63 closed, assigned to yorickpeterse

[2014-11-19 20:38] cj opened #64 "inner_text not working as expected"
when doing `dom.at_css('body').inner_text = 'moo'` instead of it replacing the body's entire content with just moo, it's appending it on to the end of the body.

[2014-11-20 22:23] yorickpeterse opened #66 "Encode/decode apostrophes/double quotes in XML"
Apparently I completely forgot to add mappings for apostrophes and double quotes in the entity conversion code. See http://www.w3.org/TR/REC-xml/#sec-predefined-ent.

[2014-11-20 23:49] YorickPeterse opened #68 "Look into supporting character/entity reference support"
The character/entity references discussed in http://www.w3.org/TR/REC-xml/#sec-references should probably be supported. An example in Ox: https://github.com/ohler55/ox/blob/3764d26ab44f3202508a0b5ef2f9944b68bfef75/test/tests.rb#L314-L319

[2014-11-21 00:12] #66 closed, assigned to nobody

[2014-11-21 00:18] YorickPeterse opened #69 "Optimize XML Lexer"
Currently the XML lexer can chew its way through the 10MB XML fixture in about 700ms. This should be brought down to <= 500ms. Some of the bottlenecks in the lexer are:

* The vast amount of String allocations, not much can be done about this sadly
* The amount of Hash lookups (e.g. for symbols, methods, etc)
* Array allocations for every token, not sure what can be done about this

I'm currently

[2014-11-30 03:41] cqpx opened #70 "Error parsing certain content"
[code]

[code]

[2014-12-14 22:33] #64 closed, assigned to nobody

[2014-12-24 13:01] YorickPeterse opened #71 "Caching of XPath expressions"
To boost performance of XPath evaluation Oga could potentially cache parsed expressions. This would have to be done in a thread-safe manner.

[2014-12-30 19:41] YorickPeterse opened #72 "Support for multi_xml"
multi_xml should support for Oga, most likely by using the SAX API of Oga. This will allow me to use v2 of the aws-sdk without having to rely on Nokogiri, or worse: REXML.

[2015-01-11 23:10] YorickPeterse opened #73 "The road to 1.0"
Writing this down since GitHub milestones really suck for long bits of text (or basically anything longer than 1 line). Before Oga 1.0 can be released several bits have to be taken care of.

First of all, all issues assigned to the [1.0 milestone](https://github.com/YorickPeterse/oga/milestones/1.0.0) should be resolved _or_ pushed back to a later release if required. Besides that the following po

[2015-01-16 23:16] detomastah opened #74 "Mixed nodes in XML are out of order"
In the mixed node (element with text and elements inside) all the non-text elements are at the beginning of the parent.

Original doc
[code]
[code]

[2015-01-17 00:11] YorickPeterse commented on #74
I'm not really following, the following works fine:

[code]

This outputs:

[code]

Do you have a way to reproduce whatever problem you're trying to describe?

[2015-01-17 10:40] detomastah commented on #74
Thanks for really quick response. I would like to fix the problem on my own, even peeked at the code and grammars...

[code]

This is the xml which does not render correctly. On Nokogiri I have the other problem, after some processing when I call .to_s all the `<exp></exp>` tags are removed. That was my motive to use Oga. In oga, in the same example it puts all the exp's at the beginning of the co

[2015-01-17 11:15] YorickPeterse commented on #74
@detomastah I'm sorry but I don't understand what is going on. If you could provide a small _Ruby script_ that reproduces whatever problem you are experiencing that would greatly help.

[2015-01-17 11:30] detomastah commented on #74
Sorry for taking your time. I found the problem - it was my fault. One of the routines was doing something like this:

[code]

[2015-01-17 11:30] #74 closed

[2015-01-17 12:31] YorickPeterse commented on #74
@detomastah Ah, that particular problem has been solved in #64.

[2015-01-17 13:13] detomastah commented on #74
Thanks!

[2015-01-26 15:41] YorickPeterse opened #75 "Support for pretty formatting XML documents"
Similar to REXML it would be nice if Oga had a way to spit out a pretty formatted XML document including correct indentation and all that.

## Spec (as of June 27th, 2017)

* `to_xml` on the various node types should take a `**kwargs` argument which is passed to `XML::Generator#initialize`
* `XML::Generator#initialize` should take two additional keyword arguments: `pretty` (default `false`) and `i

[2015-02-14 03:33] ImaginateWayne opened #77 "Equality opperator for documents"
I have noticed that when I parse xml for two identical documents and then compare them using the '==' operator the result return is false.
[code]

I would expect that this example would return true.

Is this a bug? I'm happy to take a look at it and supply a pull request.

[2015-02-14 10:50] YorickPeterse commented on #77
This isn't really a bug, just a lack of a possible feature. Classes such as `Oga::XML::Document` and `Oga::XML::Element` don't define their own `==` methods, thus they use the default ones provided by `Object`.

The tricky thing is that for two documents to be the same they both must have:

* The exact same XML declaration
* The exact same doctype
* The exact same nodes (text, elements, etc)

For

[2015-02-15 13:23] ImaginateWayne commented on #77
Thanks for the detailed response, it looks like you have put a lot of thought into it already, and if I'm honest I only wanted to make use of the equals operator for my rspec tests to make sure my document is getting parsed through a multi-parser method I've written...

In the spirit of solving problems because it's fun, I started thinking that equality through node comparison only becomes expensi

[2015-02-15 19:53] YorickPeterse commented on #77
Using `to_xml` is an option for the time being, and I can alias `to_s` to it in the future if needed. I'll give adding custom `==` operators some thought because relying on `to_xml` is a bit of a hack for this.

[2015-02-22 23:27] YorickPeterse commented on #14
Closing this one as I've migrated most of these points to the Wiki page https://github.com/YorickPeterse/oga/wiki/Problems-with-Nokogiri.

[2015-02-22 23:27] #14 closed

[2015-03-02 13:46] YorickPeterse opened #79 "XML::Text escapes Javascript when it shouldn't"
Example:

[code]

In case of `<script>` tags the output should not be escaped as this would produce invalid Javascript.

[2015-03-02 13:48] YorickPeterse commented on #79
One way of solving this would be to introduce `to_html` which, for certain elements (based on the name), would alter the behaviour of `to_xml`. That is, `to_html` would simply be an alias for `to_xml` in most cases, except for `XML::Element` nodes with the name set to `script`.

[2015-03-02 13:56] YorickPeterse commented on #79
Super dirty patch for option 2:

[code]

[2015-03-02 13:56] YorickPeterse commented on #79
Relying on `to_html` instead of `to_xml` probably makes more sense as there will likely be other cases where dumping HTML differs from dumping XML.

[2015-03-02 14:27] YorickPeterse commented on #79
Note to self: the above snippet should take into account that text nodes can also be embedded into cdata nodes, in such a case it should continue traversing the document tree upwards until it finds the first parent element.

[2015-03-02 15:22] #70 closed

[2015-03-02 16:32] #79 closed

[2015-03-02 16:58] jrochkind commented on #79
I'm not sure this is really true....

I think

<script> element.inner_text = '10 > 20'</script> is actually invalid HTML, isn't it?  There is no special rule that says you can have un-escaped angle brackets inside a `<script>` block, I don't think?

Googling to try to figure it out, it gets confusing fast. Which is one reason people prefer linked script file instead of inline, I think! But here's

[2015-03-02 19:35] YorickPeterse commented on #79
@jrochkind It's valid HTML, or at least HTML5. On top of that both Firefox and Chromium handle this case just fine, so does libxml/Nokogiri. As a result I kinda have to support this, that and I bumped into this specific problem in a production application of myself.

[2015-03-02 19:39] YorickPeterse commented on #79
Having said that, including a literal `</script>` tag inside another `</script>` tag (e.g. as a string literal) is _not_ valid and will indeed break various browsers and other existing parsing libraries. A Nokogiri example:

[code]

[2015-03-03 13:44] YorickPeterse opened #80 "Treat contents of <style> tags as plain text"
Similar to `<script>` tags the contents of `<style>` tags in HTML documents should be treated as is. Right now this:

    <style>"foo"</style>

Gets turned into this:

    "<style>&quot;foo&quot;</style>"

This should be handled on both parsing and serialization level. This should also handle lexer/parsing input such as `<style>/* foo <bar */</style>`.

[2015-03-03 15:30] #80 closed

[2015-03-03 16:13] YorickPeterse commented on #68
Looking into this again as I need support for a bunch of entities (e.g. `&nbsp;`). The htmlentities Gem doesn't seem to support all entities so that's not really an option, for example:

[code]

which is supposed to give back:

[code]

As an alternative I'll probably use this list: https://gist.github.com/YorickPeterse/fe37e80c271b3e94f3d7

One downside is that this will likely slow down the parsi

[2015-03-03 18:50] jrochkind commented on #68
Can it be an option only by default turned on for HTML?  In XML, you can watch for fewer named entities... oh, but I guess you still need to handle numeric entities. Not sure if it'll actually be any faster to restrict to only what you need for XML.

But automatically un-escaping HTML named entities in XML might even be incorrect? Gets confusing to reason about, not sure.

[2015-03-03 18:52] YorickPeterse commented on #68
The big list in the Gist would indeed only be used for HTML documents. This ensures the performance penalty only applies to HTML documents, but I'd still prefer for it not to be that much slower than it currently is.

[2015-03-03 18:52] jrochkind commented on #68
Is there a way to turn the Hash into an actual parser/lexer, so you don't need to iterate over all the keys? In theory, if you encounter `&` followed by a letter that doesn't begin _any_ of them, you can stop. Otherwise, continue with second letter, etc.

Compiling it into a giant regexp union might  have the same effect, and also be faster than iterating through every key.

[2015-03-03 19:03] YorickPeterse commented on #68
The fastest way would be to embed the conversion of entities to their "true" form in the lexer. This is one of the ideas I have, but since the lexer code is shared between C and Java it's not as trivial to implement as one might hope. The idea I have is basically as following:

1. In the state machine used for processing text/attribute values a rule for every entity will be added
2. Said rule will

[2015-03-03 23:06] YorickPeterse opened #81 "Using an IO while processing text inside <script> and <style> will probably segfault the lexer"
This due to it using the `mark` variable. When the text of these tags contains a newline the lexer will end up using a different input buffer, making expressions such as `ts - mark` prone to crashes.

[2015-03-04 10:55] YorickPeterse commented on #81
Fixed in 3b2055a30b128aa679a83332dfdfa68314271b24.

[2015-03-04 10:55] #81 closed

[2015-03-04 10:56] YorickPeterse commented on #68
Note to self: this system should ensure that any entities that appear in a `<style>` or `<script>` tag are _not_ converted. In other words, the input `<style>&amp;</style>` should stay as is and _not_ be converted into `<style>&</style>`.

[2015-03-04 21:18] YorickPeterse commented on #68
Thinking of this, it might actually make more sense to do this lazily in `Oga::XML::Text` and `Oga::XML::Attribute` instead of doing this on lexer/parser level. This has numerous benefits:

1. No performance overhead in the lexer/parser
2. Keeps the lexer as it is, making my life easier
3. Code such as `Oga::XML::Text.new(:text => '&quot;').text` would actually return `'"'` and not `'&quot;'`

Doi

[2015-03-05 21:59] #68 closed

[2015-03-05 22:11] YorickPeterse commented on #69
Closing this one. With the entities logic moved out of the lexer there's little I think I can do in the lexer itself for the time being. It's quite likely I'll actually have to spend time improving Ruby, or at least Rubinius, to make things go faster here. Having said that, ~480ms for 10MB of XML is not that bad.

[2015-03-05 22:11] #69 closed

[2015-03-11 14:42] YorickPeterse opened #82 "Remove locking in XML::Text#text and XML::Text#text="
The use of a Mutex here leads to extra allocations that shouldn't be needed. Instead of coming up with complex systems to make all of this atomic I'm taking the easy way out: concurrent calls to `text` and `text=` of the same `Text` instance are no longer supported. This isn't much different from other structures such as `XML::NodeSet` which also isn't thread-safe.

Note that the above only applie

[2015-03-16 15:44] Arcovion opened #83 "Add more examples"
I am really struggling with the `xpath`/`css` methods, I looked for some examples and [found this from your blog](http://yorickpeterse.com/articles/oga-a-new-xml-and-html-parser-for-ruby/):
[code]
Which isn't working for me on Oga 0.2.3 with Windows or Linux; the document seems to parse correctly but `titles` is empty.
I checked the XPath in chrome and it still works:
`$x('//div[contains(@class, "

[2015-03-16 16:15] YorickPeterse commented on #83
This seems to be caused by Reddit assigning an explicit namespace to the `<html>` element (using `<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">` to be exact). As far as I can tell `http://www.w3.org/1999/xhtml` is the default namespace URI for XHTML/HTML5 so I'll see how I Oga can support this more easily.

Regarding the examples, there are a few already in the README (https:

[2015-03-16 17:55] Arcovion commented on #83
I see, it just so happens the other two sites I was trying to parse have this namespace attr too.

For the examples I was just thinking of larger documents and real URLs as opposed to small snippets of local text which are in your specs/readme. E.g. an oft-used example for web crawlers is downloading xkcd comics:
[code]
This doesn't serve to describe Oga's features, but it's showing how you might

[2015-03-16 19:46] Arcovion opened #84 "Parse error on Youtube"
[code]
Is it acceptable to make issues for random websites that aren't being parsed correctly?
Here I get an exception for parsing [this url](https://www.youtube.com/watch?v=qp20Lh7o56M).
I'm just messing around with different websites, note that Nokogiri appears to be able to parse this site correctly.
Edit: I get the same error on Google and some other websites, I suppose Oga is not quite ready

[2015-03-16 20:06] YorickPeterse commented on #84
There's no need for separate tickets, simply adding the links to this issue is enough. Having said that, there's https://github.com/YorickPeterse/oga/issues/20 which, when resolved, should take care of these problems.

[2015-03-16 20:27] Arcovion commented on #84
Here's some from the top 100:
- [ ] https://google.com
- [ ] https://yahoo.com
- [ ] https://amazon.com
- [ ] https://yandex.ru
- [ ] https://linkedin.com
- [ ] https://www.ebay.com
- [ ] https://instagram.com
- [ ] https://vk.com

https://github.com/YorickPeterse/oga/issues/83#issuecomment-81768893 should address:
- [ ] https://reddit.com
- [ ] https://imgur.com

Looks like the vast majority of w

[2015-03-21 00:25] YorickPeterse commented on #23
All parsers moved over to ruby-ll. While the performance benefits are relatively minor I'll consider this good enough for now. There are two ruby-ll issues related to performance which I'll be taking a look at:

* https://github.com/YorickPeterse/ruby-ll/issues/11
* https://github.com/YorickPeterse/ruby-ll/issues/10

Other Oga parser performance related problems will get their own GH issues instea

[2015-03-21 00:25] #23 closed

[2015-03-21 00:27] #82 closed

[2015-03-21 00:36] #83 closed

[2015-03-21 00:37] YorickPeterse opened #85 "Default HTML namespaces mess things up"
Moving over from https://github.com/YorickPeterse/oga/issues/83#issuecomment-81768893.

[2015-03-21 00:37] YorickPeterse commented on #83
Moving the namespace problem over to #85.

[2015-03-21 19:31] YorickPeterse opened #87 "Windows support"
Basically the same as https://github.com/YorickPeterse/ruby-ll/issues/14:

* Compiler flags, as discussed originally in https://github.com/YorickPeterse/ruby-ll/pull/13
* Automated testing, there was some CI for this but I keep forgetting the name

[2015-03-22 12:06] giuan opened #88 "xpath with large xml file"
With the cia factbook in xml if i try this
[code]
it don't terminate (no error).
The code works with a smaller version of the factbook.

But these expressions work with the big file
[code]
[code]
ruby 2.1 oga 0.2.3 mac

[2015-03-22 12:47] YorickPeterse commented on #88
Could you provide a sample XML file that produces this? Chances are that the XML file is big enough for XPath evaluation to take a while (it's currently quite slow).

[2015-03-22 14:33] YorickPeterse commented on #87
Fixed in the master branch, will be included in the next release.

[2015-03-22 14:33] #87 closed

[2015-03-22 14:47] giuan commented on #88
The XML is http://jmatchparser.sourceforge.net/factbook/data/factbook.xml.gz

[code]
[code]
I tried with jruby 1.7.16 same problem

[2015-03-22 14:54] YorickPeterse commented on #88
No, this translates to `descendant::country/descendant::field[@ref="f2004"]`.

[2015-03-22 15:58] giuan commented on #88
I tried with nokogiri.
The result:
[code]
Nokogiri has the same problem with css

[2015-03-22 23:27] YorickPeterse commented on #71
Fixed in 2c4e490614528dc873f8275fe10c34ae489cfee5.

[2015-03-22 23:27] #71 closed

[2015-03-23 23:16] YorickPeterse commented on #77
I'm scrapping this, for it could introduce serious bugs. To clarify, for this to
work I'd have to define a custom `==` method on most classes in the `Oga::XML`
namespace such as `XML::Text`, `XML::Attribute`, etc. This would allow you to do
the following:

    text1 = Oga::XML::Text.new(:text => 'foo')
    text2 = Oga::XML::Text.new(:text => 'foo')

    text1 == text2 # => true

This becomes probl

[2015-03-23 23:16] #77 closed

[2015-03-24 23:39] YorickPeterse commented on #85
There are two things that need to be fixed here:

* Oga should be able to evaluate documents that define the default XML namespace explicitly, currently this fails here: https://github.com/YorickPeterse/oga/blob/66fa9f62ef1f5e2e447cdc724b42f2e1d58b0753/lib/oga/xpath/evaluator.rb#L1656
* Custom namespaces defined in HTML documents should be ignored (per Nokogiri/Chromium behaviour and the HTML5 spe

[2015-03-24 23:40] YorickPeterse commented on #85
Nokogiri seems to completely ignore custom namespace declarations in HTML. For example:

[code]

[code]

[2015-03-24 23:42] YorickPeterse commented on #85
In other words, for HTML Oga would completely disregard declarations of default _and_ custom namespaces. For XML documents the XPath evaluator should also match elements when they are in an explicitly defined default namespace.

[2015-03-26 21:39] #85 closed

[2015-03-31 04:19] khoan commented on #20
currently, failing for [ill formatted feed](https://gist.github.com/khoan/7e6659eb2e4a0dedafec) (newline feed after <rss version="2.0"). The same xml passes [w3schools.com](http://www.w3schools.com/xml/xml_validator.asp) validator.

my 2cents, a good balance: whatever passes on w3school should pass as valid xml

[2015-03-31 06:17] YorickPeterse commented on #20
@khoan Said XML parses fine when using the master branch and the latest Gem release (0.2.3). The particular problem wasn't caused due to lack of syntax error handling of sorts, but due to the problem described in #58.

[2015-03-31 12:55] khoan commented on #20
@YorickPeterse, you're right. Looks like gist converted all the windows line feed characters into unix newline. I've now put a failing sample into git.

[code]

[2015-03-31 13:44] YorickPeterse commented on #20
@khoan Are these Windows line endings as in `\r\n` or just `\r`? The lexer currently doesn't handle the latter (https://github.com/YorickPeterse/oga/blob/31764593070b29fcd16040a6a0bd553e464324cd/ext/ragel/base_lexer.rl#L49) so that might explain the problem.

[2015-03-31 22:50] khoan commented on #20
according to [ascii table](http://ascii-table.com/control-chars.php) control+m is carriage return. So I believe it's ```\r```

ah, so in theory, all that's required is to add control+m as a newline in the lexer.

[2015-03-31 23:11] YorickPeterse commented on #20
@khoan Could you open a separate issue for this?

[2015-03-31 23:17] khoan opened #89 "Handle carriage return as newline"
add carriage return to [lexer](https://github.com/YorickPeterse/oga/blob/31764593070b29fcd16040a6a0bd553e464324cd/ext/ragel/base_lexer.rl#L49)

here's a failing test case.

[code]

[2015-03-31 23:17] khoan commented on #20
done: #89

[2015-04-02 22:46] #89 closed

[2015-04-04 20:10] lham opened #90 "What is &nbsp; replaced with?"
I'm running into a weird problem when parsing elements containing text followed by some `&nbsp;` within my rails project. If I run

    require 'oga'

    doc = Oga.parse_html('<p>hello&nbsp;&nbsp;</p>');
    str = doc.css('p').text;

    puts str.inspect
    puts str.strip.inspect
    puts str[/^\s*(.*?)\s*$/, 1].inspect

it gives me the following output

    "hello  "
    "hello  "
    "hello  "

[2015-04-04 20:29] lham commented on #90
Well, some further investigation shows that `&nbsp;` is replaced by `ASCII DEC 160` (which is a non-breaking space and not by `ASCII DEC 32` which is the normal space character. This makes sense when I think about it.

Some googling gave me http://stackoverflow.com/questions/8653661/cant-split-strip-by-space-in-a-string-in-ruby-because-its-an-nbsp-character which points out why this happens in rub

[2015-04-04 20:29] #90 closed

[2015-04-04 20:33] Arcovion commented on #90
I get `"hello&nbsp;&nbsp;"` for each of those, what happens if you try `p str.chomp '&nbsp;&nbsp;'`?

[2015-04-05 12:08] YorickPeterse commented on #90
@lham As you found yourself, an unbreakable space is not the same as a regular space, thus `String#strip` won't actually remove it. The easiest way to remove it is as following:

    some_string.gsub(/#{Oga::HTML::Entities::DECODE_MAPPING['&nbsp;']}$/, '')

or:

    some_string.gsub(/#{[160].pack('U')}$/, '')

@Arcovion You'll need at least version 0.3.0 for proper HTML/XML entity conversions. The

[2015-04-05 19:50] Arcovion commented on #90
Thx, how about an `encode` method for HTML entities?
My encoding is alright: `?\u00A0 == [160].pack('U')` - it's not a problem with your gem.

[2015-04-05 20:21] YorickPeterse commented on #90
What do you need this for? There's already `Oga::XML::Entities.encode` which can take an entity mapping to use for conversion.

Why are you setting `Encoding.default_external` to ASCII? `Array#pack` requires `Encoding.default_external` to be set to UTF8 to work properly when using `pack('U')`.

[2015-04-05 20:23] YorickPeterse opened #91 "XML/HTML entities in attribute values are no longer decoded"
This is caused by the conversion happening in a lazy manner, which has only been implemented for `XML::Text#text`. Example:

[code]

[2015-04-05 20:46] Arcovion commented on #90
Yea I was thinking it wasn't encoding some things:
[code]
But actually it's not needed, [HTMLEntities](https://github.com/threedaymonk/htmlentities) has a way to use named stuff for everything, hexadecimal and other things but that's beyond the scope of this gem:
[code]
Also the decoders behave slightly differently, so I assumed there would be two encoders - probably doesn't matter but from a usab

[2015-04-05 21:13] YorickPeterse commented on #90
In the first line you're decoding a non existing XML entity, in the second line you're decoding an HTML entity. The entity `&nbsp;` is only defined in HTML, not XML, thus you only get an unbreakable space when using `Oga::HTML::Entities`. There's currently no `Oga::HTML::Entities.encode` because Oga itself has no use case for such a method.

The difference you're seeing here is because while Oga u

[2015-04-05 21:47] Arcovion commented on #90
It would be nice to have this though, Oga could be both a HTML/XML parser and an entity converter. I just think it would be a useful utility, for example the HTMLEntities gem isn't able to decode `&cups;` but your gem can - just add `Oga::HTML::Entities.encode` and you have a full converter.

This is a bug, no? You can fix it with `U*` instead of `U` for all of the entities.
Using pack is expensiv

[2015-04-05 22:03] krasnoukhov commented on #91
Good catch, I ran into this like yesterday, but forgot to report. See failing sax-machine build, if you're interested: https://travis-ci.org/pauldix/sax-machine/jobs/57151728

[2015-04-06 11:07] YorickPeterse commented on #90
Oga isn't an HTML/XML entity conversion Gem, it just happens to have it because it's required by the XML/HTML specifications. I don't feel comfortable adding something Oga itself will never use. This method isn't needed because only a few special characters have to be encoded back to entities when generating XML (e.g. `<` has to become `&lt;` but `©` is perfectly valid as is).

Ah, then at least t

[2015-04-07 19:19] #91 closed

[2015-04-08 17:12] krasnoukhov commented on #91
I still see non-decoded entities in attributes as well as text/cdata when using SAX parser. Does that mean that I have to decode these manually?

[2015-04-08 19:01] YorickPeterse commented on #91
@krasnoukhov Good catch, since this is handled in instances of `XML::Attribute` and not the parsers themselves the SAX parser currently doesn't decode entities. I'll sort this out so that users don't have to do this manually.

[2015-04-08 19:05] YorickPeterse opened #92 "Handle decoding of XML/HTML entities in the SAX parser"
Because the SAX parser doesn't rely on `XML::Text` and `XML::Attribute` this means that currently no entities are decoded. Decoding XML entities is fairly simple. Decoding HTML entities on the other hand will be much more difficult as the SAX parser doesn't keep track of any state that can be used if we're

1. In an HTML document
2. Not in a literal element (script/style tags)

The lazy way out is

[2015-04-13 21:32] skoona opened #93 "Oga.parse_xml fails with emsg: 'end of input, expected closing tag'"
Cannot read and parse this xml file.  Gem does not appear to recognize the final closing element and close the document at that point.   I removed all blank lines after the closing tag, with no effect on this error.

I cannot use the gem at this point.  Please help figure out why step one fails, reading a xml file.

This is the statement
[code]
This is the xml file
[code]

This is the error/except

[2015-04-13 22:02] YorickPeterse commented on #93
This appears to be a bug in the lexer that _only_ originates when using `Oga.parse_xml` with an `IO` instance. In the mean time you can work around this as following:

    Oga.parse_xml(File.read('path/to/file'))

This _will_ read the entire file into memory first, but at least it's something.

[2015-04-14 09:10] YorickPeterse commented on #93
This problem is specifically caused by the lack of proper streaming support when lexing CDATA, comments and XML processing instructions. The problem is similar to the one I solved in 24ae791f00380763134654a88c9d2b7a09168a95.

[2015-04-14 10:44] binaryplease opened #94 "Html parsing fails with 'LL::ParserError: Unexpected end of input, expected element closing tag'"
I'm trying to parse a html file.

[code]

Gives me the error:
[code]

[2015-04-14 15:59] skoona commented on #93
Ok, the workaround solved my issue.  I was able to make the switch to Oga with very little effort, for a great benefit to my project.    Thanks for creating this gem, is was sorely needed.

[2015-04-14 22:15] YorickPeterse commented on #93
This has been fixed by a combination of the following commits:

* b2ea20ba615953254554565e0c8b11587ac4f59c
* ea8b4aa92fe746a9da19e94c3edf68b41495d992
* 8acc7fc743c9492eed2d9c885c22c1b5bec06d0f

Until Oga 1.0 is released it's best to just read a file as a whole instead of passing an `IO` to `Oga.parse_xml` and `Oga.parse_html`.

[2015-04-14 22:15] #93 closed

[2015-04-14 22:53] YorickPeterse commented on #94
The problem is caused by the following snippet:

    <a class="js-show-link comments-link dno" title="expand to show all comments on this post, or add one of your own" href=# onclick=""></a>

Which can be further reduced to:

    <a href=#></a>

HTML allows one to omit attribute quotes for certain values (e.g. those without spaces). I'll have to see how Oga can handle this in a reasonable way.

[2015-04-14 23:16] binaryplease commented on #94
I see.
Let me know if its fixed or there is a workaround. I would really like to use the gem for a crawler Project.

[2015-04-14 23:25] #94 closed

[2015-04-14 23:41] YorickPeterse commented on #94
There's one small bug introduced by this where HTML such as `<a href="foo"/>` (note the lack of a space before `/>`) messes it up. I'll re-open this issue if I bump into more issues related to the StackOverflow HTML.

[2015-04-14 23:48] YorickPeterse commented on #94
With d892ce97874ed0f1382df993c40a452530025f02 all problems regarding this particular HTML document should be fixed.

[2015-04-15 00:03] binaryplease commented on #94
Thanks!
Can I just upodate the gem using "gem update" ?

[2015-04-15 09:38] YorickPeterse commented on #94
This has been released in version 0.3.2.

[2015-04-15 09:38] YorickPeterse commented on #93
These fixes for this have been released in version 0.3.2 so there's no need to wait for 1.0.

[2015-04-15 09:39] YorickPeterse commented on #73
Closing this "meta" issue to not clutter up the issue tracker. I'll have to find a different way to describe a roadmap of sorts without having to use Github milestones (perhaps the wiki).

[2015-04-15 09:39] #73 closed

[2015-04-15 09:51] YorickPeterse commented on #84
Using this script:

[code]

The output is as following:

[code]

I've checked off the websites that pass, the other ones probably use some HTML not supported yet by Oga.

[2015-04-15 10:03] binaryplease commented on #94
Still happening:

[code]
[code]

[2015-04-15 10:14] YorickPeterse opened #95 "Parsing multi-line doctypes triggers a parser error"
HTML:

[code]

Script:

    ruby -r ./lib/oga -e 'p Oga.parse_xml(File.read("/tmp/test.html"))'

Produces:

[code]

Lexer output:

[code]

[2015-04-15 10:15] YorickPeterse commented on #94
This is a different problem, caused by a doctype being broken onto separate lines. I've opened #95 for this.

[2015-04-15 18:23] #95 closed

[2015-04-15 20:38] YorickPeterse commented on #84
Parsing support for Yahoo (the problem that broke it to be specific) was added in 6b779d788384b89ba30ef60c17a156216ba5b333.

[2015-04-15 22:44] binaryplease commented on #95
When will this fix be released?

[2015-04-15 23:48] YorickPeterse commented on #84
Amazon.com taken care of in 73fbbfbdbdecafcf5f873b8a27e81c19a2e2ed0c.

[2015-04-16 11:28] YorickPeterse commented on #95
I'll prepare a release for this later today.

[2015-04-18 18:51] YorickPeterse commented on #95
@binaryplease This has been released as version 0.3.3 which is being pushed to RubyGems as we speak.

[2015-04-18 18:59] YorickPeterse commented on #88
@giuan The last few releases of Oga contain various performance improvements that should make XPath evaluation quite a bit faster. Could you give the latest release (0.3.3) a try to see how things perform now?

[2015-04-18 20:04] #92 closed

[2015-04-18 20:06] YorickPeterse commented on #92
@krasnoukhov commit da62fcd75d0889e4539e7390777a906a914a78c0 adds decoding of XML/HTML entities in the SAX parser. Could you run sax-machine against this commit to see if this fixes the entity issues you were experiencing (it should, but it's worth double checking)?

[2015-04-19 17:02] krasnoukhov commented on #92
Thanks for the notice. In fact, everything works great, please proceed with new release!

[2015-04-19 20:19] YorickPeterse commented on #92
This has been released in version 0.3.4.

[2015-04-19 20:40] krasnoukhov commented on #92
Thanks! By the way, here is a small thing that I've noticed. Decoding an attribute with a `&#038` in it throws the `ArgumentError`:

[code]

I know that it's invalid use, but it might make sense to address this somehow.

[2015-04-19 21:22] #84 closed

[2015-04-19 21:24] YorickPeterse commented on #20
Closing this one as this should be taken care of (for the most part) by 13e2c3d82ffb9f32b863cb47f6808cf061e07095. Other cases not yet handled should be reported as a separate issue whenever they occur.

[2015-04-19 21:24] #20 closed

[2015-04-19 21:47] YorickPeterse opened #97 "Handle lexing of certain HTML5 nesting rules"
HTML5 allows one to omit closing tags of certain elements which should be parsed as if the tags were present. For example:

[code]

This should be parsed as:

[code]

However, as per 13e2c3d82ffb9f32b863cb47f6808cf061e07095 it's parsed as following:

[code]

There's bound to be a document somewhere written by the W3C that describes what behaviour to apply and where, otherwise I'll just have to imp

[2015-04-19 21:49] YorickPeterse commented on #92
@krasnoukhov Please report that as a separate issue as it's not directly related to this one.

[2015-04-19 22:13] YorickPeterse commented on #92
@krasnoukhov Nevermind, this has been fixed in 853d804f3468c9f54c222568a7faedf736f8dc1a.

[2015-04-19 22:39] YorickPeterse commented on #97
This seems to be covered by http://www.w3.org/TR/html5/syntax.html#syntax-tag-omission.

[2015-04-19 22:42] krasnoukhov commented on #92
Wow, that was fast! Thank you

[2015-04-20 09:58] abotalov commented on #97
I'd like to note that HTML 5.1 spec is has a bit more examples - http://www.w3.org/TR/html51/syntax.html#syntax-tag-omission

[2015-04-20 19:59] giuan commented on #88
With 0.3.3   ruby 2.2.1.
The file is 9.1MB
20%-30% better. Good!
[code]

[2015-04-20 20:14] YorickPeterse commented on #88
What is the output of the benchmark using the latest Oga? As far as I can tell it looks like you've shared the same output as mentioned in https://github.com/YorickPeterse/oga/issues/88#issuecomment-84624815.

[2015-04-20 20:19] giuan commented on #88
parse_xml
  4.290000   0.140000   4.430000 (  4.525548)   old (  5.209589)

old (  5.209589) is the total time with oga 0.2.3

[2015-04-20 20:46] YorickPeterse commented on #88
Ah ok, I missed that. I'll keep this issue open since there are several more changes I'd like to apply to make things faster.

[2015-04-20 21:04] giuan commented on #88
I think that it's difficult to make things a lot faster. Nokogiri is almost C (right?) and it's 10x faster than oga, but it's normal for C vs Ruby.
I know that you work on Rubinius. The numbers are bad.
After 3 iteration in version 2.5.2:
[code]

[2015-04-20 21:06] YorickPeterse commented on #88
Correct, Rubinius performance is not yet where I want it to be. In general the XPath evaluator _is_ quite slow with a lot of optimization possibilities. I can't make it faster than Nokogiri, but I can definitely make it faster than the current performance.

[2015-04-22 21:21] YorickPeterse commented on #97
Tags to take care of:

* [x] html
* [x] head
* [x] body
* [ ] li
* [ ] dt
* [ ] dd
* [ ] p
* [ ] rb
* [ ] rt
* [ ] rtc
* [ ] rp
* [ ] optgroup
* [ ] option
* [ ] colgroup
* [ ] thead
* [ ] tbody
* [ ] tfoot
* [ ] tr
* [ ] td
* [ ] th

[2015-04-27 16:43] #97 closed

[2015-04-27 20:44] abotalov opened #98 "Both start and end tags of html / head / body elements can't be omitted"
The [HTML5](http://www.w3.org/TR/html5/syntax.html#syntax-tag-omission), [HTML5.1](http://www.w3.org/TR/html51/syntax.html#syntax-tag-omission), [WHATWG HTML](https://html.spec.whatwg.org/multipage/syntax.html#optional-tags) specs say:

An html element's end tag may be omitted if the html element is not immediately followed by a comment.

A head element's end tag may be omitted if the head element

[2015-04-27 21:17] abotalov opened #99 "Omissions of thead / colgroup / tbody / tr / td elements aren't handled well"
The HTML5, HTML5.1, WHATWG specs [have some rules for handling thead / tbody / tr elements](http://www.w3.org/TR/html5/syntax.html#optional-tags).

Due to those rules the following markup:
[code]
should be mostly DOM equivalent (if not considering whitespace) to:
[code]

But currently it's equivalent to:
[code]

(The example is from HTML 5.1 spec. I only omitted caption tag but probably it should

[2015-04-27 21:56] YorickPeterse commented on #98
This is correct. In an initial revision of the HTML handling system the lexer _did_ automatically insert html/head/body tags whenever needed. After thinking about this for a while I decided to remove this as ultimately it leads to unexpected behaviour. To explain this, when parsing XML/HTML there are two kinds of inputs:

* Full blown documents (e.g. entire web pages)
* Fragments of data (e.g. jus

[2015-04-27 21:56] #98 closed

[2015-04-27 22:03] YorickPeterse commented on #99
Correct, there are a bunch of context specific rules (e.g. `<thead>` only being allowed in `<table>`) that I haven't taken care of yet. Another example would be `<html><head>bar<body>Foo</body></html>`). I've yet to come up with a solution to this that doesn't require specific blocks (= if statements) of code for every possible element as such a solution is a total pain to maintain.

[2015-05-11 19:46] abotalov commented on #99
colgroup / tr / th elements are still closed in incorrect places.

E.g. parsing example above currently results in:
[code]

[2015-05-11 20:54] YorickPeterse commented on #99
Bah, I overlooked the missing `</tr>` elements in `<thead>` and such. I'll take another look at this.

[2015-05-11 22:40] YorickPeterse commented on #99
@abotalov 1e0b7feb026d95f2b04706391a868d64b7e5de6e _should_ properly take care of what's left. Could you throw some extra HTML at it to see if it now behaves as expected?

[2015-05-12 19:17] abotalov commented on #98
Do you think it makes sense to insert start tags if end tags are present?
[code]

[2015-05-12 19:29] YorickPeterse commented on #98
@abotalov This is currently not possible, and I don't think I'll be adding this any time soon. Oga only tracks the names of opening tags (https://github.com/YorickPeterse/oga/blob/7d9604fd932ac9a5f78e68908390f758e12ed543/lib/oga/xml/lexer.rb#L413 vs https://github.com/YorickPeterse/oga/blob/7d9604fd932ac9a5f78e68908390f758e12ed543/lib/oga/xml/lexer.rb#L479). Changing this will introduce a pretty h

[2015-05-12 20:29] abotalov commented on #99
Some inconcistences with the current implementation (http://www.w3.org/TR/html51/semantics.html#the-table-element):
1. `caption` element should be also automatically closed by `colgroup` or `tr` start tag (
2. `colgroup` element should be also automatically closed by `colgroup` or `tr` start tag

Also there's an issue that seems a bit wider - elements don't always become closed when end tag is enc

[2015-05-12 20:38] YorickPeterse commented on #99
Oh fantastic. Most of the work so far is based on the list of optional tags at http://www.w3.org/TR/html5/syntax.html#optional-tags, which doesn't list these two elements.

Hmpf, I suspect this is due to the changes made in 1e0b7feb026d95f2b04706391a868d64b7e5de6e, I'll take a look at this.

Same problem here as with the caption/colgroup elements, at least this one is fairly easy to fix.

[2015-05-12 21:32] YorickPeterse opened #101 "Ensure handling of missing opening/closing tags for all HTML5 elements"
Right now the lexer contains a set of rules that can be used to close certain elements that are left open, based on a newly found opening tag. These rules are mostly based on those found at http://www.w3.org/TR/html5/syntax.html#optional-tags but this list doesn't contain the rules for all elements (how convenient). As such it's best to review _every single HTML element_ and add any missing rules.

[2015-05-12 21:38] YorickPeterse commented on #101
Another case as per #99, consider the following HTML:

[code]

Because Oga doesn't really care about the name of closing tags it effectively lexes it as following:

[code]

When parsing this and serializing it back to HTML we get the following output:

[code]

The only sustainable way of resolving this problem is to add a hierarchy of all HTML5 elements and the elements that can be nested in them.

[2015-05-12 21:39] YorickPeterse commented on #99
I'm moving this to #101 as the problems above are not just limited to tables.

[2015-05-12 21:39] #99 closed

[2015-05-12 21:40] YorickPeterse commented on #101
When using the hierarchy mentioned above the process of closing tags is basically as following:

1. Take the name of the element we're currently in, get all the elements that are allowed to reside within it
2. Check if the name of the opening element we're about to process is in this list
3. If this is not the case close the element that was left open, jump back to step 1
4. If this _is_ the case

[2015-05-13 05:41] abotalov commented on #101
That's not true.

The `form` element can be used [where flow content is expected](http://www.w3.org/TR/html51/semantics.html#the-form-element). The `td` element's [content model is flow content](http://www.w3.org/TR/html51/semantics.html#the-td-element) so `td` element may contain `form` element.

In an example above `form` element doesn't belong to `td` because `table` element is closed and the s

[2015-05-13 08:24] YorickPeterse commented on #101
@abotalov In the above example Oga doesn't know it's the `<table>` element that's being closed. In fact, it will treat this as closing the `<td>` element. A `<tr>`, `<tbody>` and `<table>` still can't contain a `<form>` as far as I'm aware of.

[2015-05-13 08:31] YorickPeterse commented on #101
The procedure I'll be going with (unless I bump into any big problems) is as following:

1. Build a Hash of all elements and their allowed child elements, elements not in this Hash (as the keys) are treated as elements that can't have any child elements (e.g. `<title>`).
2. When we bump into a new open tag while we're still in an unclosed tag, check if said new tag is allowed inside the unclosed t

[2015-05-13 20:03] abotalov commented on #101
I don't think it's correct. New elements may appear in HTML spec and it's not correct to say that such new elements can't contain any content.

Also it's possible to use custom elements - http://stackoverflow.com/questions/9845011/are-custom-elements-valid-html5

[2015-05-13 20:05] abotalov commented on #101
I think the list of optional tags listed [here](http://www.w3.org/TR/html51/syntax.html#optional-tags) is full. No other elements may have end tags that can be omitted.

[2015-05-17 22:36] YorickPeterse commented on #101
The bulk of this should be taken care of in commits https://github.com/YorickPeterse/oga/compare/3e337faa1d9708835aaf4e81d16910e01ed894d5...688a1fff0efb9e2405e0aab5b3a7164e78ec287e. I still have to add new specs for a bunch of HTML elements and verify if all is well know, but so far it's looking quite promising.

[2015-05-19 21:49] YorickPeterse commented on #101
@abotalov Could you give the latest master version a try with some HTML you might have around? As far as I can tell it _should_ be taken care of now, but I want to be 100% sure it's good to go this time :)

[2015-05-19 22:10] YorickPeterse opened #102 "Look into compiling XPath into Ruby"
One way to solve the XPath performance problem would be to compile XPath expressions into Ruby code (using `eval`), store this in a cache (per expression) and use said code to match nodes. This has the benefit that Ruby implementations can optimize this code using a JIT (if they support JIT'ing procs/eval'd code). This in turn could lead to a pretty massive increase in performance for XPath expres

[2015-05-19 22:16] YorickPeterse commented on #102
The idea here is to replace the `XPath::Evaluator` class with a compiler that turns XPath ASTs into Ruby source code. Each block of source code is cached per expression (so it doesn't have to be recompiled every time) in an LRU. The generated code would simply take an input document/node and return whatever the expression dictates. This has numerous benefits such as:

* Less object allocations as

[2015-05-21 01:35] trevorrowe commented on #72
@YorickPeterse I recently removed the dependency on `multi_xml` from v2 of the `aws-sdk` gem. It has been replaced with a sax/stack XML parser. It currently supports Ox, LibXML, and Nokogiri, with a REXML fallback.

I removed multi_xml primarily for performance. XML responses are now parsed in a single pass, instead of parsing them into a document-like hash and then having to pass over the hash to

[2015-05-21 03:58] trevorrowe commented on #72
@YorickPeterse I spent a few minutes working on adding Oga support. With very little code, I've got everything work except for errors. I can't seem to get the `Oga.sax_parse_xml` to emit errors for invalid XML. Looking at the xml parser docs here: http://code.yorickpeterse.com/oga/latest/frames.html#!file.README.html

The only hook I see is the `#parser_error` method and I haven't been able to tri

[2015-05-21 04:14] trevorrowe commented on #75
Did you have an idea of where you would like to hang the pretty formatter? Do you envision this as an extension of `Oga::XML::Document#to_xml`? I would be interested in contributing.

[2015-05-21 08:33] YorickPeterse commented on #72
This particular method is more meant for parser authors to either enhance error messages or add custom handling of errors. For example, https://github.com/YorickPeterse/oga/blob/098cd51ab730721c19bb4d7d172e3c203901a062/lib/oga/xml/parser.rll#L279-L295 is used to add some extra text to error messages to indicate what kind of data caused the error.

Currently Oga's XML lexer is pretty lax and makes

[2015-05-21 08:35] YorickPeterse commented on #75
Most likely the actual logic would end up in a separate class called by the `to_xml` methods. I'm not sure yet if I want this to make the default/only behaviour, or if someone would have to call `to_xml` using something like `to_xml(:pretty => true)`.

One of the tricky things is to get whitespace correct and making sure everything is indented properly, I'm not really sure yet how to handle this.

[2015-05-21 15:55] YorickPeterse commented on #101
Closing this as it should be fixed, feel free to re-open if needed.

[2015-05-21 15:55] #101 closed

[2015-05-21 18:42] abotalov commented on #101
https://github.com/w3c/web-platform-tests/blob/master/html/semantics/interactive-elements/the-details-element/details.html
In this example `p` tag should be closed prior to `details` tag as it's immediately followed by it:

[2015-05-21 19:06] abotalov commented on #101
One more example:
[code]
is currently equivalent to:
[code]

[2015-05-21 19:16] YorickPeterse commented on #101
Ah good point, those of the `p` element were still based on 5.0. This has been taken care of in 3c6263d8de30b91aac7c3b16b65f00407b88fc13

Regarding the last example, I'm moving that to a separate issue.

[2015-05-21 19:17] YorickPeterse opened #104 "Automatic closing of HTML tags messes up inner text"
Per @abotalov:

[2015-05-21 19:24] YorickPeterse commented on #104
This is due to the lexer treating this input as following:

[code]

[2015-05-21 20:03] YorickPeterse commented on #104
I have a fix for this on my computer, but it requires exposing element names to `XML::Lexer#on_element_end`. Because this will decrease performance a bit (only for HTML documents) I'll be giving this some extra thought to see how bad it is and if there's maybe not a way around this.

[2015-05-21 21:37] abotalov opened #105 "Script-supporting elements aren't permitted inside self-closing elements"
HTML5.1 defines two script-supporting elements - `script` and `template`.
It says that those elements may be children of `tbody`, `table`, `thead`, `tfoot`, `tr`, `optgroup` (as well as some other elements but there are no self-closing rules for them so it probably doesn't matter).
However, currently apearance of script-supporting element inside e.g. `tbody` leads to parent element becoming closed

[2015-05-21 21:59] trevorrowe commented on #72
Currently it requires strict validation of the XML, this helps ensure the response body was not truncated. This is necessary as many services use chunked transfer encodings in the response and do not specify how many bytes to expect.

A strict mode would be useful, and maybe would have been a good default mode when working with XML. I can probably work around this currently by simply ensuring that

[2015-05-21 22:06] trevorrowe commented on #75
I would expect the default behavior to produce XML without any extra whitespace, preserving only whitespace inside text elements.

I have experience building structured XML documents. I wrote this to be able to remove the `aws-sdk`'s dependency on the `builder` gem: https://github.com/aws/aws-sdk-ruby/blob/version-2.1-refactor/aws-sdk-core/lib/aws-sdk-core/xml/doc_builder.rb

[2015-05-21 22:18] muescha opened #106 "mechanize + nokogiri --> mechanize + oga"
i use mechanize which requires nokogiri (which is a PITA to install)

is it possible to have a mechanize + oga?

[2015-05-21 22:38] davidcelis commented on #106
Someone would either need to fork mechanize to create a version that uses Oga, or submit a pull request to Mechanize that replaces the dependency.

[2015-05-22 00:46] YorickPeterse commented on #72
I'll see if I can implement this, it won't be the default though as that would break compatibility with the exisitng 1.x releases, I can also imagine most would _want_ it to be lax by default. Either way, once present I envision you can use this along the lines of `Oga.sax_parse_xml(handler, xml, :strict => true)` or maybe `Oga.sax_parse_xml!(handler, xml)`.

[2015-05-22 00:52] YorickPeterse commented on #106
@muescha No idea, I don't use mechanize myself and I'm not sure how heavily it depends on Nokogiri specifics. Personally I usually use a mix of HTTPClient (https://github.com/nahi/httpclient) and Oga, though this requires a bit more manual tinkering.

Having said that, feature requests such as these are probably best submitted to the mechanize repository itself, I can't do much about their choice

[2015-05-22 00:52] #106 closed

[2015-05-22 00:55] YorickPeterse opened #107 "Support for strict parsing of XML"
After this being requested 3 times now I think it's time I start looking into this. Most of this can probably be achieved by putting the automatic closing code in a condition such as `unless strict? .... end`. While technically this could also be used for HTML I'm not sure how useful that would be. Most websites are either using HTML5 or some broken form of XHTML/HTML4 which probably won't work wi

[2015-05-22 00:56] YorickPeterse commented on #72
Tracking the strict parsing request in https://github.com/YorickPeterse/oga/issues/107.

[2015-05-23 08:07] YorickPeterse commented on #104
Fixed by 5182d0c488759efb96d85a399de29550faea3efe.

[2015-05-23 08:07] #104 closed

[2015-05-23 08:44] abotalov commented on #104
It looks to me that the spec `lexes nested <ul> elements containing unclosed <li> elements` is incorrect.
Currently
[code]
is equivalent to:
[code]

`<li>bar</li>` shouldn't be a child of a nested `ul` element.

[2015-05-23 12:12] #105 closed

[2015-05-24 09:31] abotalov opened #108 "Spaces after the tag name aren't allowed in end tag"
HTML spec [says](http://www.w3.org/TR/html51/syntax.html#syntax-end-tag) that some spaces might exist after the tag name.

But currently Oga doesn't support it.
[code]
is equivalent to:
[code]

[2015-05-25 11:41] #108 closed

[2015-05-26 15:58] adwell opened #109 "Unexpected T_STRING_DQUOTE, expected element closing tag instead"
Hi guys! How far along is oga at recovering from bad html? This sort of problem is pretty common out in the wild:

[code]

LL::ParserError: Unexpected T_STRING_DQUOTE, expected element closing tag instead on line 1

[2015-05-31 02:01] postmodern opened #110 "Support for adding or modifying nodes?"
Can Oga add new nodes, copy existing ones or modify attributes/inner-text?

[2015-05-31 03:37] YorickPeterse commented on #110
Yes, this is covered in the following documents:

* http://code.yorickpeterse.com/oga/latest/#examples
* http://code.yorickpeterse.com/oga/latest/file.manually_creating_documents.html

The documentation of the various Node classes (e.g. http://code.yorickpeterse.com/oga/latest/Oga/XML/Element.html) and the NodeSet class (http://code.yorickpeterse.com/oga/latest/Oga/XML/NodeSet.html) covers the var

[2015-05-31 03:37] #110 closed

[2015-06-07 20:19] abotalov opened #112 "Spaces between attribute name and value aren't handled well"
HTML spec [says](http://www.w3.org/TR/html51/syntax.html#attributes-2):

Oga doesn't currently support adding spaces between attribute name and equals sign, between equals sign and attribute value.

[code]

[2015-06-07 20:27] abotalov opened #113 "to_xml doesn't handle quotes inside attribute values well"
Same bug as https://github.com/jhy/jsoup/issues/528

[code]

[2015-06-07 20:46] abotalov commented on #109
http://www.w3.org/TR/html51/syntax.html#attribute-value-(unquoted)-state
Here it's said that such syntax leads to a parse error. But also it says that a quote should be considered part of the attribute value - "Treat it as per the "anything else" entry below."

Google Chrome parses it as (seems to be according to the spec):
[code]

[2015-06-08 03:44] YorickPeterse commented on #113
There are two ways of solving this that I can think of at the moment:

1. Convert entities back to their encoded form when calling `to_xml`.
2. Only escape a double quote using a `\` (I believe this is valid in XML/HTML).

Personally I'm not a huge fan of option 1.

[2015-06-08 04:35] #112 closed

[2015-06-08 04:47] #109 closed

[2015-06-08 04:52] YorickPeterse commented on #113
Thinking of it using a backslash probably won't work, at least Nokogiri doesn't really seem to like it. Nokogiri seems to URL encode the values, e.g. `"` ends up as `%22`. Not sure if this the official way of doing it though.

[2015-06-08 08:22] YorickPeterse commented on #107
Looking at things the only difference in strict mode would be the removal of automatically inserting missing closing tags. Everything else is handled in the Ragel code and I don't want to litter it with more conditionals (as this is a pain to maintain).

@trevorrowe: you mentioned the AWS SDK needs some sort of error handling due to services using chunked transfers without setting the chunk sizes.

[2015-06-08 15:17] YorickPeterse commented on #72
multi_xml pull request: https://github.com/sferik/multi_xml/pull/47

[2015-06-08 18:26] abotalov commented on #113
I've found the following section in the spec - http://www.w3.org/TR/html51/syntax.html#serialising-html-fragments

The following part seems to be interesting:
[code]

Google Chrome's behavior seems to be consistent with this:
[code]
leads to the following HTML:
[code]

[2015-06-09 04:14] YorickPeterse commented on #113
That might also be an option and would remove the need for using the `URI` library. It would however require a way to whitelist the entities to encode as I don't think there's a need for encoding everything when re-generating attribute values.

[2015-06-10 21:32] abotalov opened #114 "script elements aren't always get terminated by </script> sequence"
http://www.w3.org/TR/html51/semantics.html item 4.12.1.2 contains interesting (aka weird) rules for closing script elements. In particular, take a look at the following code example from that section:
[code]

The states used in W3C document to handle this situation are, however, quiet complex. The spec lists 18 states related to script tag contents parsing:
8.2.4.6 Script data state
8.2.4.17 Scrip

[2015-06-11 04:05] YorickPeterse commented on #114
What exactly is the supposed behaviour here? Both Nokogiri and Oga seem to parse this exactly the same:

[code]

I don't see how `` is supposed to be part of the first script tag. The first script tag is terminated correctly by the `</script>`, the occurrence of `<!-- <script>` has no influence as anything _except_ `</script>` is valid in a `<script>` tag.

Chrome and Firefox seems to disagree, bu

[2015-06-11 05:39] abotalov commented on #114
Actually, Nokogiri parses it as said in the spec:
[code]

[2015-06-11 05:56] YorickPeterse commented on #114
Looking at the spec I'm not really convinced it makes sense altering Oga's behaviour. In fact, I'd argue that unless somebody knows the HTML spec by heart they'd actually expect Oga's behaviour, not what the spec/Nokogiri state/do.

I'm also not really a fan of altering Oga to match badly explain legacy behaviour, e.g. as per this paragraph:

[2015-06-15 18:52] trevorrowe commented on #107
Sorry for the slow reply.

It is possible to receive truncated responses from a few services. When the service does not send a content length with the response, it is not possible to do a simple bytes received check. In these cases, I expect the XML or JSON parser to raise an error when the document is not well-formed. AWS services should only return strictly valid XML documents.

If the parser is

[2015-06-15 21:53] #107 closed

[2015-06-15 21:55] YorickPeterse commented on #107
@trevorrowe I added basic strict parsing support in 2c18a51ba905d46469170af7f071b068abe965eb, could you build from Git [1] and give that a try?

[1]: `git clone` the repository, run `bundle install` followed by `rake`. You can then simply run `rake install` to install the Gem.

[2015-06-16 03:12] trevorrowe commented on #107
@YorickPeterse Works great! I pushed a [branch of `aws-sdk`](https://github.com/aws/aws-sdk-ruby/commit/2cdb5244e836b1fdf318872609d3d160d1dd388b) that uses Oga which passes all of the SDK XML parser and protocol tests.

[2015-06-16 07:34] YorickPeterse commented on #107
Fantastic! I'll push a new Gem release later today.

[2015-06-16 09:15] YorickPeterse commented on #107
@trevorrowe This has been released in Oga 1.0.3 (http://code.yorickpeterse.com/oga/latest/file.CHANGELOG.html).

[2015-06-16 20:21] YorickPeterse commented on #114
Having thought about this I'm going to leave things as is for the time being. If this is deemed important enough in the future I'll look into it again.

[2015-06-16 20:21] #114 closed

[2015-06-16 20:22] YorickPeterse commented on #72
Closing this in favour of the multi_xml pull request mentioned above.

[2015-06-16 20:22] #72 closed

[2015-06-16 20:48] #113 closed

[2015-06-16 21:54] YorickPeterse opened #115 "Ability to replace nodes with text and/or other nodes"
Oga doesn't have a dedicated method for replacing one XML node with another, instead you have to use the following pattern:

[code]

It would be nicer if this could instead be written as following:

[code]

This would basically just use the above pattern but hide it from the end user. Nokogiri also has a `replace` method which if I'm not mistaken can use both an XML node and a String. I'm not 100%

[2015-06-17 19:44] #115 closed

[2015-06-29 11:00] jakubpawlowicz opened #118 "What should be the default behaviour for decoding invalid entities"
We recently stumbled upon an issue with parsing the following entities:

[code]
which results in
[code]

The ```Oga.parse_xml("<a>&#x;</a>")``` results in the same exception being raised.

I wonder if Oga could rather leave these entities as they are if they cannot be decoded instead of raising an unrecoverable error?

[2015-06-29 11:28] jakubpawlowicz commented on #118
Btw, happy to send a PR if you think it's a good idea.

[2015-06-29 12:32] YorickPeterse commented on #118
In case of an unrecognised entity Oga is supposed to just leave it as-is. The usage of `Integer()` was initially added to allow specifying the base, but `Object#to_i` can do this as well. The code would have to be changed so that the process is as following:

1. Try to convert to a number, return nil or something similar upon a failure (instead of raising an error)
2. If converted, convert to a se

[2015-06-29 12:57] YorickPeterse opened #119 "HTML error when parsing Agoda"
Somewhere on pages such as http://www.agoda.com/patong-resort-hotel/hotel/phuket-th.html there's a lump of HTML triggering the following error:

[code]

Script to reproduce:

[code]

[2015-06-29 13:04] SkyBirdSoar opened #120 "Errata"
There is an errata in the section: [Namespace Support](https://github.com/YorickPeterse/oga#namespace-support)

   descendant::*[local-name() = "bar"]
[code]
  descendant::*[local-name() = "bar" and namespace-uri() = "http://example.com"]
[code]

[2015-06-29 13:14] #120 closed

[2015-06-29 13:16] YorickPeterse commented on #119
The following snippet seems to be the culprit:

[code]

[2015-06-29 13:55] jakubpawlowicz commented on #118
Great, I'll come back with some code :+1:

[2015-06-29 14:37] #119 closed

[2015-06-29 15:42] YorickPeterse opened #121 "CSS parser doesn't support use of commas"
Expressions such as `#foo, #bar` and `.foo, .bar` are not supported. These should be compiled into the XPath expression `X | Y`.

[2015-06-29 17:04] #121 closed

[2015-06-29 17:50] YorickPeterse opened #123 "Add support for the CSS :nth(N) pseudo selector"
Nokogiri supports this and I currently have quite a bit of code relying on this. As far as I know this is a Nokogiri specific extension but it's useful enough as CSS selectors themselves don't provide any equivalent that I'm aware of. The expression `foo:nth(N)` would be compiled to XPath `descendant::foo[position() = N]` (CSS/XPath starts at position 1, not 0).

[2015-06-29 18:53] #123 closed

[2015-06-30 15:56] #118 closed

[2015-07-01 20:18] abotalov opened #124 "Escaping characters in css selectors doesn't work"
Same bug as https://github.com/sparklemotion/nokogiri/pull/1303

Characters can be escaped in CSS selectors using backslashes - http://www.w3.org/TR/css3-selectors/#selector-syntax

From http://www.w3.org/TR/CSS21/syndata.html#characters:

[2015-07-01 20:32] abotalov opened #125 "CSS :not pseudo class isn't supported"
It's specified in http://www.w3.org/TR/css3-selectors/#negation

[2015-07-01 20:49] abotalov opened #126 "Spaces before combinators (>, +, ~) shouldn't be required in CSS selectors"
Currently the following produces an exception:
[code]
I think it shouldn't. See combinator grammar at http://www.w3.org/TR/css3-selectors/#w3cselgrammar and http://www.w3.org/TR/css3-selectors/#selector-syntax ("White space may appear between a combinator and the simple selectors around it.")

Also the spec has some examples where whitespace doesn't appear before combinator.

[2015-07-10 14:44] YorickPeterse commented on #124
I'm not sure if Oga will support escaping arbitrary characters (as supporting this is quite painful from the top of my head, but I'll see) but at least it will support escaping the following:

* dots
* hashes
* whitespace

This would let you write queries such as `#foo\.bar` to match `<div id="foo.bar" />` which will probably cover 95% of all cases.

[2015-07-10 14:45] YorickPeterse commented on #125
This can be directly mapped to the XPath `not()` function so adding this is fairly easy. If somebody wants to add it feel free to do so, otherwise I'll add it myself once I'm done with the XPath compiler.

[2015-07-10 14:46] YorickPeterse commented on #125
Do note that document states such as `DISABLED` can't be supported as Oga is not a browser. The same goes for pseudos such as `:link` and `:visited`.

[2015-07-11 18:31] abotalov opened #127 "HTML element names are matched case-sensitively when using XPATH/CSS selectors"
Currently Oga matches element/attribute names/values in xpath/css selectors in a case sensitive way.
[code]

However, in reality case matching of element names is sensitive in XML but is case insensitive in HTML.

See http://www.w3.org/TR/html51/semantics.html#case-sensitivity and http://dev.w3.org/csswg/selectors/#case-sensitive in regard to CSS selectors.

I didn't find a relevant section in spe

[2015-07-14 16:08] gurgeous commented on #127
Can you just make them all case insensitive? This seems like the right choice for handling dirty input.

[2015-07-14 17:45] YorickPeterse commented on #127
Attribute values will be kept as-is since `foo="bar"` and `foo="BAR"` are two very different values. Element names will most likely always be case insensitive as I believe keeping it case sensitive for XML only is confusing.

[2015-07-16 12:54] YorickPeterse opened #128 "Switch Travis to the container infrastructure"
As per http://docs.travis-ci.com/user/migrating-from-legacy/ it seems you can now install packages via apt without using sudo, thus Oga can finally move over to the container infrastructure.

[2015-07-22 11:14] jakubpawlowicz opened #129 "Problem parsing HTML <object> tag"
We stumbled upon an issue with parsing HTML <object> tag.
If the <object> tag has enclosed  <param> tags then the closing </object> tag will be placed in the wrong position, possibly due to a wrong parsed tree?

[code]

Do you have an idea why it happens? We'll be happy to submit a patch if you can pinpoint the place it happens at.

[2015-07-22 13:47] YorickPeterse commented on #129
The specific HTML is invalid as `param` tags can not have any content, thus they're supposed to be closed using `<param />` and not `</param>`. The moment Oga sees a `<param>` tag it automatically injects a closing `</param>` tag to keep the parser happy, in this case this leads to duplicate closing tags.

To work around this probably https://github.com/YorickPeterse/oga/blob/5d0e8c99af86dab9f4d18

[2015-07-22 15:05] jakubpawlowicz commented on #129
Ah, it makes sense. Unfortunately the `<param></param>` is so common...
Let's see if the change you suggested breaks other tests!

[2015-07-22 15:56] #128 closed

[2015-07-23 12:27] #129 closed

[2015-07-29 14:46] YorickPeterse opened #131 "CSS axis selectors followed by predicates ("foo > .bar") result in parser errors"
Parsing CSS expressions such as `foo > .bar` and `foo>.bar` raises a parser error, this should be supported.

[2015-07-29 15:16] abotalov commented on #131
Duplicate of https://github.com/YorickPeterse/oga/issues/126

[2015-07-29 20:12] YorickPeterse commented on #131
@abotalov No, these are two separate issues. #126 is due to the lexer producing `T_SPACE` tokens where it shouldn't while this particular issue is due to the parser grammar being too strict.

[2015-07-29 20:13] YorickPeterse commented on #131
Regarding the grammar, the following is the problem: https://github.com/YorickPeterse/oga/blob/ed3cbe7975eeb9d142c4f649334038b6389abc0e/lib/oga/css/parser.rll#L101-L131

The `predicate` rule isn't allowed here even though it should be.

[2015-08-04 09:11] YorickPeterse commented on #102
Personal notes:

Add some kind of context class that responds to `<<` so I can get rid of all the `X.followed_by(Y)` calls. This should hopefully enhance readability. This context class would also have helper methods for creating common objects such as `nil`, `true`, `false`, etc instead of the compiler having to use `literal('nil')` all over the place. This in turn would also clean up the Compile

[2015-08-07 13:59] YorickPeterse commented on #102
More notes:

* Make sure that generated code is wrapped in begin/end blocks where needed
* Remove the use of `backup_variable` where it's not required
* Use `unique_literal` whenever possible instead of just `literal`

[2015-08-10 18:30] omninonsense opened #132 "Certain types of invalid HTML tags are parsed as valid HTML"
Seems like `Oga::parse_html` treats certain invalid HTML as valid HTML.
[code]

Any following text is treated as attirbutes, and any opening tags (`<`) are ignored until one of the closing tags occur (`>` or `/>`) :

[code]

Expected result (to be compliant with browsers):

[code]

Workaround:

[code]

IIRC (I could be wrong) WebKit handles this by going back after a `<` token isn't matched by a `

[2015-08-10 21:18] omninonsense opened #133 "Preserving HTML character entity references"
Currently, Oga decodes HTML/XML character entity references (let's call 'em just "entities" from onward) one-way:

[code]

There is no way to encode unicode back into entities, or at least I [think so][why-i-think-so].

I recommend the following: add methods `Oga::XML::Node#encode` and `Oga::XML::Document#encode` which recursively descend into its children, to encode all `Oga::XML::Text` nodes the

[2015-08-10 21:21] omninonsense commented on #133
Oh, and I forgot to mention, I vote for `&#xhhhh;`, because it's easier to recognise (visually) those as unicode codepoints over the decimal counterparts.

Also because they might turn out a few bytes shorter than the decimal ones (might be `false`)?

[2015-08-10 22:07] YorickPeterse commented on #132
As I briefly mentioned on IRC, I don't think there's currently a way around
this. The way the XML/HTML lexer works is that the moment it finds a `<`
followed by 1 or more non-whitespace characters it will treat this as an element
opening tag. Once the identifier has been processed the lexer jumps to a
separate state that's used for processing attributes. The lexer will then jump
into the element's

[2015-08-10 22:15] YorickPeterse commented on #133
What's the use case for this? Characters that are not legal XML/HTML (e.g. a literal `<` in an element's body) are already encoded upon output, any other characters are legal XML/HTML characters as far as I'm aware.

Unless there's a good reason for this I'm quite reluctant to add this because:

1. Recursively encoding all non ASCII character sequences is more painful than having to listen to drun

[2015-08-11 12:48] omninonsense commented on #133
The use case could be the user is limited to outputting an ASCII-only stream&mdash;for whatever reason.

I don't find the first part of **1** to be that problematic, however I *do* agree that it might case performance issues; **2** didn't cross my mind, actually.

About second part of **1** and **2**, the solution could be something along the lines of adding Node#encode, which accepts a block/Proc

[2015-08-15 18:51] #127 closed

[2015-08-15 18:56] YorickPeterse opened #135 "Apply case-insensitive matching in XPath to the compiler"
The patch submitted in https://github.com/YorickPeterse/oga/pull/134 has to be applied to the `XPath::Compiler` class once it's done.

For those eager to work on this: please wait. The xpath-compiler branch is far from done, there are a lot of failing tests and I'll be moving chunks of code around. I'll comment on this issue whenever it's ready.

[2015-08-17 11:56] dush opened #136 "xpath with default namespace"
XPath queriing document with default namespace set does not work.
[code]
I think that result should be the same.

[2015-08-17 12:03] YorickPeterse commented on #136
This is expected behaviour, at least for the time being. See https://github.com/YorickPeterse/oga#namespace-support and #57 for more information.

[2015-08-17 12:03] #136 closed

[2015-08-22 11:37] xzo opened #137 "HTML 4 doesn't have &apos;"
The named character reference `&apos;` (the apostrophe, U+0027) was introduced in XML 1.0 but does not appear in HTML. Authors should therefore use `&#39;` instead of `&apos;` to work as expected in HTML 4

http://www.w3.org/TR/xhtml1/#C_16

[2015-08-22 11:47] YorickPeterse commented on #137
Oga's HTML support follows the HTML5 specification which _does_ have `&apos;`. I'm not going to add support for different HTML versions as doing so complicates the code too much for very little gain.

[2015-08-22 11:47] #137 closed

[2015-08-27 19:28] abotalov commented on #132
The rules are actually different as the following series of examples shows:

Source | Result
--- | ---
<3 | &lt;3
<unknown |

In [Tag open state](http://www.w3.org/TR/html51/syntax.html#tag-open-state) only letters can appear. So `<3` immediately leads to emitting `&lt;`.

[2015-08-27 19:35] abotalov commented on #132
In XML, though, numbers can appear in tag names - http://www.w3.org/TR/REC-xml/#NT-NameChar

[2015-08-27 19:39] abotalov commented on #132
In HTML the tag token is emitted only when `>` character occurs - http://www.w3.org/TR/html51/syntax.html#tag-name-state / http://www.w3.org/TR/html51/syntax.html#after-attribute-value-(quoted)-state

At the end of the document the nodes are just popped - http://www.w3.org/TR/html51/syntax.html#the-end

[2015-09-01 10:00] 0mega opened #139 "#parse_html doesn't behave as expected when there are redirections for given URL"
Hi,
I stumbled upon a strange error which only appears when you feed a URL which will have a redirect (301) to the `Oga#parse_html`method.
To reproduce, one can use this two URLs which point to the same resource on YouTube, but the one on `http` protocol redirects to the `https`.
https://www.youtube.com/watch?v=Y45Zq-yKpRw (direct link)
http://www.youtube.com/v/Y45Zq-yKpRw?version=3&autohide=1 (re

[2015-09-01 11:51] YorickPeterse commented on #139
This is unrelated to Oga itself. Using the [open_uri_redirections](https://github.com/open-uri-redirections/open_uri_redirections) Gem (which I assume is the one you're using, please mention this in the future) I get the following output:

[code]

This is not something Oga can parse.

[2015-09-01 11:51] #139 closed

[2015-09-01 11:59] 0mega commented on #139
Correct it's the one I used. You are right, the `#open()` itself returns some unreadable result.
Thanks for your time.

[2015-09-01 19:44] #88 closed

[2015-09-01 19:44] #102 closed

[2015-09-01 19:44] #135 closed

[2015-09-01 20:07] #125 closed

[2015-09-02 18:19] #124 closed

[2015-09-02 18:24] YorickPeterse opened #140 "Unicode support for XPath/CSS"
While the XML/HTML lexer already supports Unicode identifiers, the CSS/XPath lexers only support ASCII identifiers. This difference makes it currently impossible to query XML elements that contain unicode characters. To get Unicode characters in Ragel we can use the same trick/rule as the XML lexer:

    unicode = any - ascii;

[2015-09-03 09:21] #140 closed

[2015-09-04 14:07] #126 closed

[2015-09-04 14:07] #131 closed

[2015-09-23 15:44] YorickPeterse commented on #132
I'm going to close this for the time being. As mentioned in https://github.com/YorickPeterse/oga/issues/132#issuecomment-129629987 there's currently no decent way to handle input like this (that I'm aware of) without tearing my hairs out.

[2015-09-23 15:44] #132 closed

[2015-10-01 13:14] YorickPeterse opened #141 "Count the amount of keys inserted into an LRU"
Every time a key is inserted a counter should be incremented. Using this counter a user can determine a sane default for the LRU in question. Incrementing/retrieving this counter should be synchronized.

[2015-12-02 17:37] ascastro opened #142 "Problem rendering HTML tag attributes"
We came across the following issue while parsing HTML. The following code:
[code]
would result in an exception:
`
LL::ParserError: Unexpected attribute namespace, expected attribute instead on line 1
`

Would it be possible to handle those attributes?

Thanks!

[2015-12-02 21:29] YorickPeterse commented on #142
I wasn't aware this is even valid HTML (is it?). What is supposed to be the attribute name here, `size`, `plusone:size`, or `g:plusone:size`? And is this valid in XML, or HTML only?

[2015-12-03 11:03] ascastro commented on #142
Thanks for replying so quickly.

There are lot of web pages using that syntax to generate Google +1 buttons, Facebook, ... I believe this comes from AddThis, but I can't be sure if it's the only place:
http://support.addthis.com/customer/portal/articles/381237-third-party-button

The attribute name would be `size`, and the element `g:plusone`.

Another option would be to have a 'non-strict' mode w

[2015-12-03 11:24] omninonsense commented on #142
Browsers would treat this attribute simply as `g:plusone:size` and allow it, but it's technically not valid HTML5 (according to [validator.w3.org](https://validator.w3.org/)):

[code]

[2015-12-03 13:34] YorickPeterse commented on #142
There are two options that I can think of:

1. When parsing in HTML mode we simply treat any number of colon separated identifiers as a single name. Thus for `foo:bar="10"` the attribute name is `foo:bar`, while for `foo:bar:baz="10"` the attribute name is `foo:bar:baz`.
2. Option 1 is _only_ applied if more than 1 colon is present, meaning that `foo:bar="10"` results in the attribute name being `

[2015-12-03 13:41] ascastro commented on #142
+1 for option 1!

[2015-12-04 09:27] omninonsense commented on #142
+1 for Opt 1, too.

[2015-12-07 22:08] YorickPeterse commented on #142
Namespace wise this should be backwards compatible as namespaces are already disabled in HTML mode (e.g. `Oga::XML::Element#available_namespaces` always returns an empty Hash for HTML documents). Attribute naming however this would not be backwards compatible. For example, in current versions `<foo:bar />` results in the attribute name being "bar". Fixing this particular issue would mean the attri

[2015-12-14 16:05] walro opened #143 "ArgumentError: invalid byte sequence in UTF-8 when parsing"
Hello,

I run into the problem in described in the title when parsing certain, unlucky, combinations of text. To reproduce:

[code]

Line that raises: https://github.com/YorickPeterse/oga/blob/a938f23a0e5817b5924eff907d804ffaa23cfb8f/lib/oga/xml/entities.rb#L83

I understand that the text is bad and this might not really be fixable, but I think it would be great if a "better" error than ArgumentEr

[2015-12-20 18:50] abotalov commented on #142
[The following info from HTML spec seems to be relevant](http://www.w3.org/TR/html51/syntax.html#syntax-attribute-name):

See also http://www.w3.org/TR/html51/syntax.html#attribute-name-state

[2015-12-26 19:46] #142 closed

[2016-01-01 17:46] YorickPeterse commented on #142
Forgot to mention this: the fix for this has been released in 2.0.

[2016-01-15 20:17] YorickPeterse commented on #143
@walro What kind of behaviour would you expect instead? I'm not a fan of catching ArgumentError and simply re-raising EncodingError as this doesn't help the user all that much.

[2016-01-22 15:28] walro commented on #143
Thanks for getting back to me.

Ideally, no error at all :-). If decode fails for a single character it could return the character as-is (undecoded).

I started to investigate a bit, it seems like https://github.com/YorickPeterse/oga/blob/76b183e7abc78e42e4651cd3e37ced3e57b74cf3/lib/oga/xml/entities.rb#L77-L79 will convert `&#2013266165;` into an invalid character which later on causes the UTF-8 e

[2016-01-22 16:03] YorickPeterse commented on #143
Leaving the input unchanged upon a decoding failure seems to be the most logical solution, better than re-raising any kind of dedicated error.

As an aside, the following reproduces the problem described:

    ruby -r oga -e 'Oga.parse_xml("<name>&amp;#2013266165;&amp;#2013265920</name>").inspect'

[2016-01-23 10:08] strcmp commented on #143
in such cases if a document cannot be encoded to the encoding it claims to be i think re-encoding the string as ASCII-8BIT would be an ok fallback solution. in this case it appears there is no document to infer an encoding from, and ASCII-8BIT should be assumed in such cases.

[2016-01-23 10:12] strcmp commented on #143
[code]

[2016-02-09 18:53] #143 closed

[2016-02-09 19:20] YorickPeterse commented on #143
The fix for this is available in version 2.1 which should be available on RubyGems as of now.

[2016-02-10 08:20] walro commented on #143
Thanks, seems to be working great!

[2016-02-12 17:51] muescha commented on #106
i think the eazy form handling from mechanize i need to rebuild with httpclient/oga or are there some helper gems?

[2016-02-12 17:57] YorickPeterse commented on #106
@muescha I do not understand your question. Please keep in mind that I can't help you with any Mechanize related questions as I don't use Mechanize myself.

[2016-02-17 21:11] EHadoux opened #145 "Performance"
Hello,

I have a performance question. Let's say we have an HTML doc like this:
[code]

I want to get all the images and the span.
What is the best to do?
1:
[code]
or 2:
[code]

of course, I have way more descendants and siblings.
I guess that 1) is more time efficient but uses more memory (the chunk in one) and 2) is the opposite.
But I think you know better.

Thanks!

[2016-02-17 22:05] YorickPeterse commented on #145
Generally the fastest way to get a set of elements is to use the XPath axis `descendant` or `descendant-or-self` (if you also want to match the current context node). For example:

[code]

If you want to scope them to a `div` you'd simply change the xpath query to:

    doc.xpath('div/descendant-or-self::img | div/descendant-or-self::span')

If you _only_ want to grab either images of spans you ca

[2016-02-17 23:01] EHadoux commented on #145
Ok, I see, thanks.
However, I want to have them in different variables so I guess the ```'div/descendant-or-self::img | div/descendant-or-self::span'``` won't help me. My question was in fact: is it really better to get out the div scope and fetch what I want from that scope (if I was several stuffs to get) than to always fetch from doc and thus going all the way down in the html source each time?

[2016-02-17 23:35] YorickPeterse commented on #145
If you know the container before hand and you expect to extract multiple elements from it using different queries then yes, it's faster to first grab the container. Example:

[code]

[2016-02-18 09:31] EHadoux commented on #145
Perfect, thanks!

[2016-02-18 09:31] #145 closed

[2016-02-19 02:20] jbr opened #146 "Provide a mechanism for extending/decorating nodes attached to a particular document"
Nokogiri provides a mechanism for adding behavior to all nodes on a given document tree. [Loofah](https://github.com/flavorjones/loofah) is built on this extension point. In order to directly port Loofah to Oga (flavorjones/loofah#100), Oga will need to add a comparable API.  Depending on how large an API you want to support, this could take the form of:

* a `Document#node_attached(node)` callbac

[2016-02-19 09:57] YorickPeterse commented on #146
Right now the classes to use for building document trees are all hard-coded, for example: https://github.com/YorickPeterse/oga/blob/40501f95224998e243b72dd855c65eada8fd2bd4/lib/oga/xml/parser.rll#L362

What I'm thinking of is setting these classes as instance variables in `initialize` and using those variables instead. This way if somebody wants to use a custom class they'd just use the following

[2016-02-20 00:07] jbr commented on #146
Yeah, I was concerned about the overhead of method calls, was planning on benchmarking. As it is, loofah has more overhead from this extension pattern than I would have expected. Dependency injection (providing a custom class) seems like a good solution to the problem, except for the fact that there is a whole class hierarchy involved.

Here's my concern about classes as instance variables: If Loo

[2016-02-20 08:24] YorickPeterse commented on #146
If code wants to extend all classes then yes, they'd have to define custom classes for every type. I don't think there's a way around this without monkey patching classes globally, which in turn might break code.

[2016-02-21 21:30] bryanp opened #148 "Encoding HTML Entities"
I've hit an issue where not all HTML entities are being encoded properly.

[code]

I'd expect `doc.to_xml` to return `&copy;`.

After digging it appears that while `Oga::HTML::Entities` is used to decode, `Oga::XML::Entites` is used to encode. This creates a problem as the XML entities don't include the same entities defined in HTML. In fact, `Oga::HTML::Entities` doesn't have a way to encode.

We

[2016-02-21 21:55] YorickPeterse commented on #148
This particular behaviour isn't exclusive to Oga, Nokogiri also does this:

    Nokogiri::HTML.fragment('<p>&copy;</p>').to_html

In what way does Pakyow depend on entities being encoded upon serializing a document back to XML/HTML? Since the list of HTML entities is rather big (around 2120-something entities) encoding all these might introduce a hefty performance penalty when serializing document

[2016-02-21 22:13] bryanp commented on #148
Yeah, entities in Pakyow have never worked right to date. We're trying to finally get it right :-)

We use Oga (and previously Nokogiri) only to parse an HTML document. From it we create an instance of `StringDoc`, which exposes only "significant" nodes as mutable. A `StringDoc` represents a document as arrays of strings, so the resulting render is essentially `flatten.join`. This makes rendering

[2016-02-21 22:33] YorickPeterse commented on #148
I'm not sure if I'm entirely following, but what exactly is the problem here with keeping the entities in their decoded form?

I just ran some basic benchmarks and it seems encoding the 2120-something explicitly listed HTML entities doesn't add much (if any) overhead over only encoding the XML entities.

Note that this particular list of entities only includes those I grabbed at some point from th

[2016-02-21 22:35] YorickPeterse commented on #148
To clarify, what exactly is the problem with these "StringDocs" containing lines such as "hello ©" instead of "hello &copy;" upon output?

[2016-02-21 22:38] bryanp commented on #148
The reason is when the document is rendered in the browser we want the encoded entities (I think). What got me going this direction was the fact that some entities (specifically `&copy;`, `&nbsp;`) render incorrectly in the browser with out of the box Oga.

![screenshot 2016-02-21 16 36 58](https://cloud.githubusercontent.com/assets/18920/13205938/65599b0e-d8b9-11e5-9cb6-6a54dbf229f6.png)

There's

[2016-02-21 23:12] YorickPeterse commented on #148
@bryanp That seems to be the result of not setting the encoding to UTF8. For example, take the following Rack app:

[code]

This outputs the following in Chrome:

![timings](https://cloud.githubusercontent.com/assets/86065/13206154/e2ad3e50-d8f8-11e5-96f5-bb1046c4e6ee.png)

[2016-02-21 23:15] bryanp commented on #148
Huh, okay. Does Oga have its own encoding option? I set Ruby's encoding to UTF8 in this case :-/

[2016-02-21 23:16] YorickPeterse commented on #148
@bryanp No, Oga doesn't do anything special with encodings. Is there some standalone Pakyow application that reproduces the problem?

[2016-02-22 00:04] bryanp commented on #148
Here's an [example](https://github.com/bryanp/oga-pakyow). Start the server with `bundle exec pakyow s`. This is the important code: https://github.com/bryanp/oga-pakyow/blob/master/app/lib/routes.rb

![screenshot 2016-02-21 18 03 35](https://cloud.githubusercontent.com/assets/18920/13206537/70c520f6-d8c5-11e5-85ab-50b9c8cbf386.png)

I've bypassed all the `StringDoc` complexity to try and get to t

[2016-02-22 00:14] bryanp commented on #148
Bleh, so it appears to be a browser issue. Explicitly setting the charset to UTF-8 makes it work.

[2016-02-22 09:36] YorickPeterse commented on #148
@bryanp Is there a way Pakyow can solve this problem for users, or does it require them to explicitly add a `meta` tag to specify the encoding? The latter is pretty common anyway so I don't think it should be a problem, though I can see it as being a bit of an odd requirement.

[2016-02-22 13:26] bryanp commented on #148
It requires the user to explicitly add a `meta` tag. What I don't like about it is we're changing their markup, then requiring the user to take another step to work around it. Pakyow could add the tag automatically, but I don't know how I feel about that.

[2016-02-22 13:59] YorickPeterse commented on #148
@bryanp Like I said I can add this to Oga, but there are a few issues I have with it:

1. It would only take care of the HTML entities explicitly listed, entities such as `&#x....` would be left as-is as encoding these is going to be too slow. In turn I'm not a fan of providing something that only solves a portion of the problem.
2. It feels unnecessary. That is, `&copy;` and `©` are both valid in

[2016-02-22 14:53] bryanp commented on #148
I think we'll move forward with Option 2. The user might find it odd that we're changing their markup, but the reason why seems pretty clear-cut and easy to explain. Generated apps will include the `meta` tag and we'll consider presenting a warning in development if the `meta` tag is missing. We're targeting less experienced users, so we have to make things really straight-forward.

Thanks for tak

[2016-02-22 15:01] YorickPeterse commented on #148
@bryanp OK, I'll close this issue then.

[2016-02-22 15:01] #148 closed

[2016-02-22 16:24] omninonsense commented on #148
@bryanp Slightly offtopic, wouldn't it be wiser to send a `Content-Type: text/html; charset=utf-8` header&mdash;provided that you have control over the headers being sent&mdash;instead of having using a `meta` tag. Since, the latter in some cases might cause the browser to discard the current DOM and start re-parsing the content all over again, although I forgot what triggers it specifically.

[2016-02-22 17:09] YorickPeterse commented on #141
I'm going to scrap this. This isn't _that_ useful and the complexity of the code needed for this outweighs the benefits.

[2016-02-22 17:09] #141 closed

[2016-02-22 18:33] bryanp commented on #148
@omninonsense Yep, you're probably right. I'll look into this a bit more. Thanks for pointing it out 😄

[2016-02-23 00:52] jbr commented on #146
Had another chance to look at this.  I think there might be a way for Loofah to get away with subclassing `Oga::XML::Parser` and overriding each of the `on_…` methods without any changes to oga.  Is that a stable API / safe to build on? Additionally, loofah would need to override `Document#children` and `Document#children=` to return Loofah's NodeSet.  Do you prefer the ivar approach?

[2016-02-23 09:55] YorickPeterse commented on #146
No, you'd have to basically re-implement all the `on_` methods just to get a different type of object returned.

Loofah needing a custom NodeSet class is quite problematic since this also means having to somehow extend the following classes to allow for custom NodeSet classes:

* `Oga::XML::Document`
* `Oga::XML::Node`
* `Oga::XML::Element`
* basically any other piece of code that creates a NodeSe

[2016-02-23 20:25] benben opened #149 "Nil error when css querying for three paths"
Hi Partypeople,

First of all, thank you very much for making this gem. :raising_hand: Nokogiri was really a pain sometimes.

So here is my story. One day I tried to be smart and thought "Why not selecting all the links, images and script tags at once?" :smiling_imp: So I've used the following selector and since I am a script kiddie with no prior computer experience before 1995 I never got this XP

[2016-02-23 20:43] YorickPeterse commented on #149
The following reproduces this problem:

    Oga.parse_html('<a>foo</a>').css('a, a, a')

Note that it _does_ work when you use `a, a` as the query, it _only_ seems to break when passing 3 or more queries to the `css `method.

[2016-02-23 20:44] YorickPeterse commented on #149
The same is the case when using XPath expressions:

    Oga.parse_html('<a>foo</a>').xpath('a | a | a')

[2016-02-23 21:32] #149 closed

[2016-02-23 21:37] YorickPeterse commented on #149
The fix for this is available in Oga 2.2 which should be available on RubyGems in a few minutes.

[2016-02-23 22:42] jbr commented on #146
My guess is that this nokogiri api existed for extending document tree members, so loofah was built around it.  It's just a convenience entry-point though, since it's not used for traversal.  However, the single method added onto `Node`s (and subclasses), `NodeSet`s, and `Document`s (`#scrub!`) is part of the public api and I'd be very surprised if Loofah's maintainers would be amenable to making

[2016-03-04 23:35] YorickPeterse commented on #146
So thinking of this there's one big problem: supporting this outside of the parser. For example, in Oga you can manually add nodes to a DOM tree as follows:

    element = Oga::XML::Element.new(name: 'foo')
    some_other_element.children << element

If we were to use decorators we'd now end up pushing a vanilla Element into the DOM. Of course we can use our own class directly but there are other

[2016-03-16 03:03] cj opened #150 "stop the escaping when using #inner_text"
Evening,

Is there a way to stop it from escaping html when setting the inner_text?

[2016-03-16 03:04] cj commented on #150
The only way I can think of would be to `Oga.parse_html(your_inner_text)` and then append it to the node you were going to set the inner_text of.

[2016-03-16 12:27] YorickPeterse commented on #150
I'm not sure what the question is here, merely setting an element's inner text performs no escaping. Could you provide a code sample of what you're talking about?

[2016-03-16 15:58] cj commented on #150
[code]

#some div is now `&lt;h1&gt;test&lt;/h1&gt;` instead of `<h1>test</h1>`

[2016-03-16 17:33] YorickPeterse commented on #150
@cj The method `#inner_text=` is meant to set text, _not_ html. There's no way to insert HTML nodes using Strings like the example you've provided.

[2016-03-16 17:33] #150 closed

[2016-04-19 00:49] TearADactile opened #151 "Expand enumerable section of README"
It is not clear to me how i should be using an enumerable to operate on a big xml let alone extract data with an xpath/css.

An expansion of this section in the readme would be greatly appreciated.

Thank you!

[2016-04-19 09:42] YorickPeterse commented on #151
@TearADactile Using an Enumerator doesn't apply to extracting data with XPath/CSS, it's only used during the parsing phase. There's one example using HTTPClient in the README, are there any other particular examples you'd like to see?

[2016-04-21 09:38] Zapotek opened #152 "Oga under-performs against Nokogiri"
Based on [this feature claim](https://github.com/YorickPeterse/oga/blame/master/README.md#L161) I thought I'd report this:

[code]

[code]

I was hoping for a faster Nokogiri replacement but if I'm reading the above correctly Oga under-performs.
It's even worse for larger documents.

Is there a benefit down the line, maybe while iterating or manipulating the document?

[2016-04-21 11:03] YorickPeterse commented on #152
Oga isn't likely to be faster at parsing than Nokogiri any time soon as Oga does a substantial amount of it in Ruby while Nokogiri offloads everything to libxml/C. The claim in the README is meant to be something like "Taking everything into account, if Oga is not fast enough ...", I'm not sure how I can better describe that. Alternatively I can just remove it to avoid confusion.

[2016-04-21 11:06] Zapotek commented on #152
That's fair enough, thanks for the clarification.

[2016-04-21 11:06] #152 closed

[2016-04-21 13:37] YorickPeterse commented on #152
I clarified this a bit in 00ab8bbe73e6c28921fa9ac0c3e54eddfcecd20c.

[2016-04-25 22:44] YorickPeterse commented on #133
I'm going to close this as "wontfix". The performance impact and complexity needed to support this far outweighs the usefulness of this feature. I may reconsider this in the future if there is enough demand for this and it can be implemented in a way that doesn't slow down serializing documents to XML.

[2016-04-25 22:44] #133 closed

[2016-04-25 22:48] YorickPeterse commented on #146
I'm going to close this. While implementing a decorator-like system on parser level is doable (even though I'm not a fan of this) adding it to the various other `Oga::XML` classes adds unnecessary complexity. To support this every class' `initialize` method would need an optional argument that can be used to pass some kind of configuration object. This configuration object in turn would dictate wh

[2016-04-25 22:48] #146 closed

[2016-04-27 19:47] jbr commented on #146
I think this makes sense.  Loofah's API is fairly inextricably linked to nokogiri, and even consumers of Loofah have to interact with raw nokogiri objects, so there would be no easy migration path.  My guess is that the path forward would be to take rails-html-sanitizer and Loofah's tests and write a new sanitizer based on oga.  I'd be willing to work towards this goal, but it's a large undertakin

[2016-04-27 22:28] YorickPeterse commented on #146
Can't tell for certain, this depends on how fast it would need to be. Is it going to be slower than Nokogiri? Maybe. Does that actually matter? Who knows.

[2016-05-26 12:13] YorickPeterse commented on #151
Closing this since I'm not sure what needs to done to improve the docs in question and no suggestions have been made thus far.

[2016-05-26 12:13] #151 closed

[2016-07-07 03:13] sferik opened #153 "Oga causing MultiXML tests to fail with Errno::ESPIPE: Illegal seek"
See https://travis-ci.org/sferik/multi_xml.

Any idea what’s causing this error?

Here is the relevant spec:

[code]

[2016-07-07 16:09] YorickPeterse commented on #153
@sferik: When a lexer is initialized and the input object responds to `rewind` this method is called on the input object: https://github.com/YorickPeterse/oga/blob/00ab8bbe73e6c28921fa9ac0c3e54eddfcecd20c/lib/oga/xml/lexer.rb#L126

Apparently pipes respond to this method but don't support it. Having looked at the IO class there doesn't seem to be a way of checking if an IO objects supports `seek`

[2016-07-07 21:10] sferik commented on #153
This solution sounds good to me. A user could still manually reset a Lexer instance if they want to reuse it, right? Would you accept a pull request that makes this change?

[2016-07-07 21:12] YorickPeterse commented on #153
@sferik I think it's easier to just _not_ support resetting in any way. For one the API is private so one shouldn't use it directly, second I'm not a fan of saying "You can call `reset` but _not_ when using a pipe, socket, etc"; instead it rather just not have any resetting.

Yes.

[2016-07-13 15:19] #153 closed

[2016-09-03 07:54] Junyulive opened #158 "SystemStackError: stack level too deep, with Oga element.to_xml in Sidekiq perform_async"
[https://github.com/mperham/sidekiq/issues/3124](https://github.com/mperham/sidekiq/issues/3124)

Ruby version: 2.3.1
Sidekiq / Pro / Enterprise version(s): Sidekiq 4.1.2/4.1.4
System: Mac OSX EI Capitan and Ubuntu 14.04

When a html contains a deep level (> 220) of tags, the Oga element.to_xml will raise stack level too deep error in async perform with sidekiq.

[code]

The sample worker code:
[c

[2016-09-03 12:22] YorickPeterse commented on #158
This can be easily reproduced using the following:

[code]

This is the result of the `#to_xml` methods relying on recursion to serialize data back to XML. Probably the only way to work around this is to use an explicit stack (e.g. an `Array`) and process nodes in depth-first order.

[2016-09-03 13:02] YorickPeterse commented on #158
More specifically, I'm thinking of the following setup:

All serialisation is moved to the class `Oga::XML::Generator` which has various methods such as `before_text` / `after_text`, `before_element` / `after_element`, etc. These methods handle the serialization process of `Oga::XML::Text`, `Oga::XML::Element`, etc. Each `#to_xml` method simply calls `Oga::XML::Generator.new(self).to_xml` or somet

[2016-09-03 13:10] YorickPeterse commented on #158
It's possible the stack can be avoided entirely by using Morris traversal. Since Oga already advises against sharing a document with multiple threads (even in a read-only fashion) this might just work.

[2016-09-03 14:05] YorickPeterse commented on #158
This could also work and doesn't use a stack:

[code]

[2016-09-03 14:06] YorickPeterse commented on #158
I'll give this some thought to see if this really is a suitable solution, but thus far it looks promising.

[2016-09-03 19:32] Junyulive commented on #158
Thanks, I'll add this quick hack to my project and test it.

[2016-09-03 21:59] YorickPeterse commented on #158
@Junyulive Said hack didn't work and I had to use a different traversal algorithm. A work in progress branch (with a working algorithm) can be found at https://github.com/YorickPeterse/oga/tree/xml-generator-class. I still have to add some extra tests to make sure serialisation works properly, the current tests are a bit too basic.

[2016-09-03 22:21] Junyulive commented on #158
Fix root Oga::XML::Document issue in `process(current)'

[code]

BTW: what's the best way to get inner_html (`children.to_xml`) with generator? Do you think add `to_html/inner_html` to generator that make sense?

[2016-09-04 01:19] YorickPeterse commented on #158
I'm not following. Do you want to serialise a `Oga::XML::NodeSet`? If so, I have thus far not implemented this because I don't really see a valid use-case for this. Generally one queries elements (and thus a NodeSet) to do something with the individual elements that is _not_ displaying them. For example, querying elements to remove certain attributes.

Either way, adding such a feature is out of t

[2016-09-04 04:42] Junyulive commented on #158
Never mind, I just found the xml branch has the full implementation of the new traversal algorithm, so I can just use `node.children.map(&:to_xml)`.

I did include the xml branch in my project, will let you know if these are more issues. Thanks for the quick response.

[2016-09-04 19:16] YorickPeterse commented on #158
Fixed in dd138981f68a606eff5d5a01e990f04398087dc4 which is available in version 2.4.

[2016-09-04 19:16] #158 closed

[2016-09-06 14:59] sandfoxme opened #159 "Unexpected inline doctype rules, expected doctype closing tag instead"
file:
[code]

expected: document successfully parsed

got: Unexpected inline doctype rules, expected doctype closing tag instead on line 3

[2016-09-06 20:31] #159 closed

[2016-09-06 20:31] YorickPeterse commented on #159
The fix for this is available in version 2.5 which I'll push to RubyGems in a few minutes.

[2016-09-06 20:37] YorickPeterse commented on #75
With the new `XML::Generator` class in place this should be easier to implement. To do so basically every  instance of `output <<` in the code would have to take into account any indentation to insert first. The indent level can be increased/decreased in the `to_xml` loop. Basically whenever the loop descends into a child node the indent level would be increased, whenever it moves back to the pare

[2016-09-09 11:21] john7doe opened #160 "to_xml on element where children are appended does not work in 2.4+ releases"
The following spec work on (at least) 2.2 and 2.3, but fails on later releases

(in element_spec.rb)

[code]

[2016-09-09 11:45] YorickPeterse commented on #160
Seems the `next` pointer for the first text node isn't set properly. Probably `NodeSet#+` doesn't properly update `previous` / `next`.

[2016-09-09 11:46] YorickPeterse commented on #160
Ah, `NodeSet#+` doesn't pass along the owner to the new `NodeSet`, that explains why `previous` / `next` aren't updated.

[2016-09-09 16:00] YorickPeterse commented on #160
@john7doe Ah, it looks like this was more or less expected behaviour. From the [documentation of `NodeSet#+`](http://code.yorickpeterse.com/oga/latest/Oga/XML/NodeSet.html#%2B-instance_method):

This also affects `+=` since `X += Y` is just syntax sugar for `X = X + Y`.

Thinking of it I don't think there's any sane solution for this either. `NodeSet#+` could inherit the owner from the receiving `

[2016-09-09 16:00] #160 closed

[2016-09-09 21:35] bryanp opened #161 "Runaway process when calling .to_xml on Oga::XML::Text"
The example below works in 2.3 but not 2.4 or 2.5.

Here's some HTML that reproduces the problem:

[code]

This code never completes execution:

[code]

But this works fine:

[code]

Let me know if I can provide more info to track down the issue.

[2016-09-10 00:50] #161 closed

[2016-09-10 00:52] YorickPeterse commented on #161
Fix for this is available in Oga 2.6.

[2016-09-10 03:29] bryanp commented on #161
Awesome, thanks! ❤️

[2016-09-13 00:17] Junyulive opened #163 "xml declaration inside the html body"
I have some old html content, it contains a xml declaration, this will cause exception when parse_html. Some old site contains these tags when copy/paste content from micrsoft office such as word/frontpage etc.

Do you think Oga should ignore xml declaration inside html body when parse_html specifically?

[code]

[2016-09-13 10:29] YorickPeterse commented on #163
@Junyulive As far as I'm aware `<?xml:namespace prefix=o ns="urn:schemas-microsoft-com:office:office" />` isn't even a valid XML declaration, or processing instruction. These are supposed to end with `?>` and not `/>`. Is this part of the XML/HTML specification, or is this some extension Microsoft added on top of things?

[2016-09-13 11:21] Junyulive commented on #163
I didn't find it in the specification, I guess it added by microsoft when copy some office data to the html editor.

Browser and html editor will ignore these invalid tags, because of the html nature, is it possible to make Oga.parse_html more compatible for html.

[2016-09-13 11:35] YorickPeterse commented on #163
@Junyulive Since SGML supports `<?foo >` I suspect this is some twisted extension of that. I'm not strictly opposed to supporting this, I'd just like to know where this is documented (if at all) so I can see if there are any further cases to take care of.

Having said that, if this is some Microsoft Office specific crap not covered by any official specifications I'm not sure if I want to support i

[2016-09-15 20:25] YorickPeterse commented on #163
@Junyulive How crucial is support for this particular tag to your workflow? I have thus far been unable to figure out if this particular tag is using some kind of official syntax or not. It's starting to look like this might just be libxml/Nokogiri's error handling that results in this tag being parsed.

[2016-09-17 00:29] Junyulive commented on #163
I think it's the nature of html which doesn't have strict tag formation, so html may contains a xml declaration or other weird tags.

Browser and Nokogiri just parsed these html successfully, so I think we should have these compatibility when parse html specifically in Oga.

The known valid xml declaration doesn't work as well.

[code]

[2016-09-17 01:01] Junyulive commented on #163
I found another example in my project. I was parsing various html from the internet.
`<span ;="">content</span>`
Works in Nokogiri, he just ignore these invalid attributes and let the parse through. Like you said above the way of their error handling make more sense in a parser app. You may provide an addition options allow error raise, but by default just ignore these invalid tags.

[2016-09-17 12:55] YorickPeterse commented on #163
@Junyulive

I fixed this in 116b9b0ceb6feab4daa0bb417302590fba948bef.

I'm not sure about this. Nokogiri's behaviour is rather odd:

    Nokogiri::HTML.fragment('bar') # => "<foo>bar</foo>"
    Nokogiri::HTML.fragment('<?cookies a="b" -->text here').to_html # => "<?cookies a=\"b\" -->text here" (parsed as a processing instruction)

There are probably a few more examples, but it seems Nokogiri/libx

[2016-09-17 13:00] YorickPeterse commented on #163
Come to think of it, I'll just add support for closing a processing instruction with `/>` and `>` and we'll see how messed up things get over time.

[2016-09-17 13:23] YorickPeterse commented on #163
Further digging this seems to be an HTML special "feature" of libxml, the XML parser does not support closing processing instructions using `/>` as far as I can tell.

[2016-09-19 16:49] Junyulive opened #164 "Invalid attributes in HTML"
Allow invalid attributes in html tags. Since html sources are very variety and complex on the internet, allowing `Oga.parse_html` handle all these exceptions without raise up and just simply strip out these attributes will be very useful.

`<span ;="value">content</span>`

[2016-09-26 22:36] scotchi opened #165 "Severe: to_xml drops closing tags on empty elements when rendering HTML"
Since 2.4 Oga drops closing tags on HTML documents when rendering.  This can obviously result in very broken documents.

    Oga.parse_html('<html></html>').to_xml
    -> <html>

    Oga.parse_html('<html><head></head></html>').to_xml
    -> <html><head></html>

Or, more to the point (closer to the actual case in the wild where I ran into this):

    Oga.parse_html('<div id="a"></div><div id="b">f

[2016-09-27 00:11] YorickPeterse commented on #165
@scotchi Commit e0e0687dc29427c854c9fa6d3c19cee1c04f92c7 should solve this problem. Could you test this commit using your code and report back if this solves your problem?

[2016-09-27 01:11] scotchi commented on #165
Yes, it does seem to resolve the issue in the actual application.

[2016-09-27 09:57] YorickPeterse commented on #165
The fix for this is available in Oga 2.7 which is now on RubyGems.

[2016-09-27 09:57] #165 closed

[2016-10-08 22:04] bryanp opened #166 "Warnings in generated files"
I've started running my gem's test suite with warnings turned on, and Oga is causing noise. Took a stab at resolving the warnings, and most are easy but I'm not sure the best way to resolve the warnings in generated files like `lib/oga/xpath/lexer.rb`. 100% of them are indentation problems.

This would be a non-issue if the warnings weren't generated at runtime. I'd rather not silence warnings for

[2016-10-08 23:17] YorickPeterse commented on #166
@bryanp The output is generated by Ragel and there's no way to reliably control the indentation. It's not worth the time and effort to hack some kind of code re-indentation system in just so `ruby -W2` doesn't spit out indentation warnings.

[2016-10-08 23:17] #166 closed

[2016-10-10 18:54] bryanp commented on #166
Fair enough, I just silenced the warnings since we only use Oga in one place.

[2016-10-15 01:49] marcamillion opened #167 "Incompatible character encodings: ASCII-8BIT and UTF-8 from node_set method"
I am attempting to crawl this URL: http://www.johnvanderlyn.com and parse the body for text, like so:

[code]

When I get this error:

`/gems/oga-2.7/lib/oga/xml/node_set.rb:276:in block in text': incompatible character encodings: ASCII-8BIT and UTF-8 (Encoding::CompatibilityError)`

That is related to this [bit of code here](https://github.com/YorickPeterse/oga/blob/master/lib/oga/xml/node_set.rb

[2016-10-15 18:56] YorickPeterse commented on #167
Oga relies on Ruby's default encoding whenever it uses strings, which is UTF-8. The website's content in turn contains data that is not valid when encoded in UTF-8.

The easiest way of dealing with this is to convert the input to UTF-8 before parsing while removing anything that is not valid in UTF-8. Something like this should do the trick:

[code]

The rationale for Oga not doing anything specif

[2016-10-15 18:56] #167 closed

[2016-10-15 18:57] YorickPeterse commented on #167
It's worth mentioning this isn't specifically about UTF-8. If you were to use a different default encoding you could run into the same problem. In other words, the input documents must be compatible with your Ruby's default encoding.

[2016-10-16 10:01] marcamillion commented on #167
Thanks for the reply @YorickPeterse.

Before you replied though, I actually discovered that out. So this solution worked for me:

    body = Net::HTTP.get(URI.parse(@url)).force_encoding 'UTF-8'

Similar to yours, but a bit simpler.

Out of curiosity, is there anything my version may miss that yours doesn't?

[2016-10-16 12:06] YorickPeterse commented on #167
@marcamillion Your version doesn't actually re-encode the data. `String#force_encoding` merely sets a flag indicating the encoding. Sometimes this may achieve the same results, sometimes it will produce garbage.

For example, let's take the Japanese word for "cat": ネコ

If we encode this as UTF-16 and then force encode it to UTF-8 we'll get garbage:

[code]

On the other hand, if we use `encode` we

[2017-01-03 14:05] pcasaretto commented on #98
Nokogiri was driving me crazy assuming too much either adding tags when using full docs or removing them when using fragments.
Thanks for this! 🍻

[2017-01-20 16:17] pcasaretto opened #169 "Oga.parse_html raises undefined method 'node_set=' for Oga::XML::Doctype"
Input:

Running `Oga.parse_html` on

[code]

fails with:

[code]

It seems that the doctype inside the div is causing the problem.

[2017-01-20 16:59] YorickPeterse commented on #169
This happens because Oga tries to set the next node for the doctype. Since a doctype is not a regular node this will error. There was a similar problem involving XML declarations, which was resolved in 116b9b0ceb6feab4daa0bb417302590fba948bef. For XML declarations this made sense since they're basically processing instructions, but I'm not sure what the best approach would be for doctypes.

[2017-01-24 18:02] pcasaretto commented on #169
In any case, Am I right to assume it should not raise an exception whatever the input is.
Would checking what nokogiri does with this help?

[2017-01-25 00:33] YorickPeterse commented on #169
@pcasaretto

No. Oga does not guarantee it will never raise an exception when parsing input. However, it should not raise an error for this particular example.

Not really, since Nokogiri is a separate project.

[2017-01-25 10:46] pcasaretto commented on #169
Got it. How can I help?

[2017-01-25 11:59] YorickPeterse commented on #169
@pcasaretto The main problem here is that I'm not really sure what the path forward is from a design perspective. For example, an easy solution would be to e.g. make `Doctype` inherit from `Node`. This however is weird because doctypes can not have child nodes, which `Node` will make possible. At the same time I think you should be able to take a doctype, then request the previous/next node whatev

[2017-01-25 13:35] pcasaretto commented on #169
Are there known cases where this will happen?

I understand that they should not, semantically. But from my (biased and limited) perspective, I expected Oga not to "enforce" that, the same way that it does not "enforce" valid html like automatically adding closing tags.

[2017-01-25 16:44] pcasaretto commented on #169
So I should always protect the parse call with a rescue clause when reading user input.
And that makes total sense. Regardng this particular case, in my mind, a node is a node. Some nodes are expected not to have children but I don't think Oga should treat them differently than other nodes.
But like I said, I trust your judgement a lot more than mine.

[2017-02-09 07:00] gittmaekawa opened #170 "outputting html empty elements"
I guess this isn't good question to ask here, but I couldn't find any information about this at other web pages.
I want to parse and output HTML.  For example, if there is a string such as `<div>aaa</div>`  I want to be able to parse it then output a string as `<div>aaa</div>`.

I know Oga is pretty good to parse HTML. But to output, in some cases, oga isn't enough. For example I can't output empt

[2017-02-09 12:22] YorickPeterse commented on #170
Currently there's no way around this, Oga will always use `/>` even when not strictly necessary. However, this is valid HTML4/XHTML/HTML5 so it shouldn't be a problem.

Changing this would be fairly easy. In `Oga::XML::Generator#on_element` an extra check would have to be added to omit the `/` for certain self closing HTML5 elements (those listed in `HTML_VOID_ELEMENTS`).

[2017-02-10 14:11] #169 closed

[2017-02-10 14:13] YorickPeterse commented on #163
I'm going to close this for the time being. It's not clear if this input is HTML, XML, SGML, or some weird extension to either of these formats. It's also not clear what the parsing rules would be, e.g. would there be other closing tags as well?

This issue can be re-opened once there is enough interest and the specifications are more clear.

[2017-02-10 14:13] #163 closed

[2017-02-10 14:24] #170 closed

[2017-02-10 15:25] pcasaretto commented on #169
Thanks! Sorry I could'nt make myself more useful.

[2017-02-10 22:32] YorickPeterse commented on #169
@pcasaretto No problem!

[2017-02-15 07:19] TakanobuMaekawa opened #171 "outputting void element as a html doesn't work when the elements are manually created."
Thanks for #170.  That was helpful.
However I encountered an another problem. I'm not sure but this may be related to #170.

Here is the output of IRB:

[code]

As you see, oga can't remove the slash when a void element is manually created.
I can't say this is a bug or not. If I missed some settings, please tell me.
Otherwise,  I will also appreciate  if I can know where to change in oga. I'll try

[2017-02-15 11:00] YorickPeterse commented on #171
Oga only knows whether it's dealing with HTML or XML elements when elements reside in an `Oga::XML::Document` with `type` set to either `:xml` or `:html`. Without this there's no way of knowing if `/>` or `>` should be used.

[2017-02-15 11:00] #171 closed

[2017-02-28 17:51] rtfpessoa opened #172 "Weird website problems"
Hi,

I am parsing one website which contains invalid HTML (at least I think so).

In `<td><1.0.4&nbsp;>=1.0.0-beta.0</td>`, as you can see, the contents of the `td` are not escaped and for that reason Oga cannot give me the right `.text` that it contains.

Chrome handles this smoothly by converting it to `<td>&lt;1.0.4&nbsp;&gt;=1.0.0-beta.0</td>`.
Is there any flag I can use in Oga to fix this?

[2017-02-28 18:41] YorickPeterse commented on #172
No, there is no such flag. I don't see a way to support this either as Oga starts processing text as element names the moment it runs into an unescaped `<`. The only way around this is to ensure the website's output is encoded/escaped properly.

[2017-02-28 18:41] #172 closed

[2017-04-12 09:09] PikachuEXE opened #173 "Element#attribute does not return correct result with Symbol input"
In [doc](http://code.yorickpeterse.com/oga/latest/Oga/XML/Element.html#attribute-instance_method)
The input mentioned supporting `String` AND `Symbol`

But by testing and looking through the source code
It never returns the attribute if symbol is passed to the method

The internal method [`attribute_matches?`](https://github.com/YorickPeterse/oga/blob/master/lib/oga/xml/element.rb#L350) does not c

[2017-04-12 10:55] YorickPeterse commented on #173
`Oga::XML::Element#split_name` takes care of casting data to a string: https://github.com/YorickPeterse/oga/blob/e9953d4212269237c3c034978dc6bf2492488d81/lib/oga/xml/element.rb#L341. However, this method is not called for HTML documents, meaning Symbols are not working there.

[2017-04-18 10:51] #173 closed

[2017-05-15 11:58] Seikitsu opened #175 "Children of nodes"
Hi, I have problem parsing xml document created from xlsx spreadsheet. I am using PullParser and using something like "node.is_a?(Oga::XML::Element) && node.name == 'row'" to determine row elements, but it has no children element (which it does/shows when doing same thing in nokogiri). Also, I attempted to just write text value from each cell (simply node.text), but it only shows some integers. Fi

[2017-05-15 12:40] YorickPeterse commented on #175
@Seikitsu When you use the pull parsing API you can not request the child nodes of the current element (doing so will produce an empty NodeSet). This is because when you reach a certain node the parser hasn't processed the child nodes yet (the parser works from top to bottom/outer to inner).

I suspect that Nokogiri has special code where calling `children` on an element will automatically advance

[2017-05-15 12:40] #175 closed

[2017-05-15 16:03] leejarvis opened #176 "Improve XPath namespace support"
The README demonstrates somewhat cumbersome [namespace support](https://github.com/YorickPeterse/oga#namespace-support). I'm wondering if there are any plans to improve the XPath API to increase the fluidity of parsing namespace heavy XML documents. You mention in the README:

Which is a fair comment. I'm wondering if you had an alternative API in mind? I think the Nokogiri API is quite nice, and

[2017-05-15 17:29] YorickPeterse commented on #176
This could probably be done by having the XPath compiler compile queries such as `lee:bookshelf` into `*:bookshelf[namespace-uri() = "http://example.com/author/lee"]`. This however means that we need to make sure that the compiled code is bound to not just the input query `lee:bookshelf`, but also the namespaces aliases; otherwise the same query with different aliases would run the same Ruby code.

[2017-05-15 17:30] YorickPeterse commented on #176
An alternative would be to pass the aliases to every Proc compiled for an XPath query, then have the Proc do a Hash lookup to figure things out. This however is a bit hairy to implement, and will probably come with a runtime cost.

[2017-05-15 17:31] YorickPeterse commented on #176
For caching currently the XPath AST is used. I think it's possible to change this to e.g. `[xpath-ast, alias-hash]`, skipping `alias-hash` if not defined (so we don't insert empty hashes into the cache).

[2017-05-15 20:49] leejarvis commented on #176
The issue with a document wide alias list is that it presumes one knows these aliases upfront. This becomes an issue when you want to dynamically look up elements for a given namespace. An example might be when parsing a WSDL with namespace'd types:

[code]

Here, element `myElement` references `foo:MyType`, which might be different to `bar:MyType`. We would pull out the correct type dynamically b

[2017-05-15 23:03] YorickPeterse commented on #176
@leejarvis So if I'm understanding correctly you want to:

1. Dynamically generate these aliases based on some WSDL
2. The WSDL/list of aliases is not available _before_ parsing the document

Is that correct?

[2017-05-16 07:50] leejarvis commented on #176
Actually I just realised my previous example doesn't really make much sense, since it's different from namespace aliases. To retrieve `MyType` from `myElement` you would parse `foo` from `type` and then fetch the namespace from `schema.namespaces` which Oga already parses, and then `MyType` can be fetched by targeting `targetNamespace`.

So I think this is just about namespace aliases in static te

[2017-06-02 09:56] badeball opened #177 "Failure to parse consecutive predicates"
Hi, Yorick

How are you doing?

I think I've found a bug in your application. See the following output.

[code]

It's maybe easy to think that consecutive predicates are really just boolean conditions that are AND-ed together, but they're not. Consider the above mentioned query. It is not equivalent to `//foo[position() = 2 and position() = 2]`. It actually selects the 2. foo that is the 2. child

[2017-06-08 10:10] badeball commented on #177
For reference, the reason why I came across this was to solve the following case. I want to select a `StsRsnInf` if it directly follows a `GrpSts`. Normally, I would write such query as follows.

[code]

I've currently solved it with the following query.

[code]

[2017-06-08 11:01] YorickPeterse commented on #177
I took a brief look at the XPath parser and the problem is that in a few places it uses the rule `predicate?` (which means 0 or 1 predicates) instead of `predicate*` (0 or more). I however couldn't quite get this to work in the short amount of time I had available.

Basically I think the following needs to be changed:

* Instances of `predicate?` have to be changed to `predicate*`
* If no predicat

[2017-06-08 11:17] badeball commented on #177
I briefly looked at the code back there, but couldn't immediately figure it out. I think I will attempt to take another stab at it. Anyways, there's no hurry here, as I have a workaround.

[2017-06-16 21:34] SamSaffron commented on #75
I started something tiny here (not production grade with many glitches, but something)

https://github.com/discourse/discourse/blob/markdownit/lib/html_normalize.rb

I think you need a separate normalizer for xml vs html4 vs html5

Pretty and consistent formatting is super critical for test stability. For example we are switching markdown parsers and the new one generates equivalent html to the ol

[2017-06-17 11:31] YorickPeterse commented on #75
@SamSaffron Aha, very interesting! I _think_ we could have 1 formatter for both XML and HTML since the indent rules (from the top of my head). Having said that I myself am super busy, so I'm not sure if I can commit to implementing this myself. However, I'm more than happy to mentor somebody with it and review their code. That way the bus factor also increases from 1 to hopefully 2-ish.

[2017-06-17 14:42] SamSaffron commented on #75
@YorickPeterse  I will see how we go, I have a GSOC student I will be tasking at migrating Discourse to oga after that we may be able to look at the formatter, I was thinking of a multiple formatters cause:

[code]

btw... quick one, I noticed you decided on mpl 2 license, is there a technical reason you went with that vs the more common mit/bsd? I do not think it creates any problems for us but i

[2017-06-17 20:44] YorickPeterse commented on #75
I would personally prefer to either indent/format things based on XML, or HTML5; this is basically what Oga does now (sans indentation).

Because the MPL is a vastly superiour license to both. It covers more topics (e.g. patents and grants), it's explicit about not granting rights to trademarks. Finally it requires modifications to the code to be made public (when distributed), without going full

[2017-06-17 20:48] YorickPeterse commented on #75
This sounds really cool! If they need any help, feel free to send them over.

[2017-06-26 22:34] timshadel commented on #75
May I request something similar to Nokogiri's API,

`to_xml(indent: 7)`

I use this to format Apple PList files used in iOS apps for translation. I had never seen such an odd number used for indentation before working with those documents, but it'd make transitioning from Nokogiri to Oga remain really easy if the pretty printing options were similar as well. 😄

[2017-09-04 14:24] lloeki opened #179 "Silence warnings"
When running tests on a project depending on oga some warnings are raised (see below).

This is because with a recent rake (>=11.0), ruby warnings are now on by default.

What do you think about fixing those warnings as well as running the test suite with ruby -w / $VERBOSE = true / t.warning = true ?

Some warnings are due to human-emitted code but others are due to Ragel-emitted code. The Ragel

[2017-09-04 14:30] YorickPeterse commented on #179
This depends on the warnings. For example, the following are pure BS:

[code]

I don't know why Ruby decided a warning is on order here because it makes no sense: there's nothing wrong with re-defining a method.

The warnings in the generated files can't be avoided since Oga has no control over that, and I don't think you can turn warnings off on a per file basis.

[code]

Again these warnings are

[2017-09-04 14:39] lloeki commented on #179
I totally agree with you, yet as you can see I did go all the way to a PR.

The issue here is that even though some of those warnings are silly in some cases, they're definitely helpful in keeping things in check many a time. The trouble is that the silly warnings therefore preclude the non-silly ones to be useful :/ Speaking broadly, the additional code e.g for method redefinition can be helpful

[2017-09-06 22:16] YorickPeterse commented on #179
Per 2.11 the remaining warnings are:

[code]

I don't think there's anything that can be done about this that's worth the effort, so I'll close this.

[2017-09-07 08:51] lloeki commented on #179
Indeed the only way would be to attempt to massage the generated code as a last step of `rake generate`. I'm trying to reach out to ragel maintainers to get this fixed upstream.

[2017-09-07 16:08] YorickPeterse commented on #179
@lloeki I wouldn't really count on it. Ragel 7 is the new version and it's pretty different from Ragel 6.9, including no longer supporting Ruby (though the author is considering adding that back). I messed around a bit with a script to indent the code properly but I couldn't really get it to work, and running `rubocop -a` just takes forever.

[2017-09-07 21:43] lloeki commented on #179
@YorickPeterse I think so too WRT Ragel.

Haha I did run `rubocop -a` too! It completed but wouldn't fix everything anyway :/ BTW although I did not make use of it you can limit cops to be run with `--only` which makes it faster (but will not make use of cops that could be sort of co-dependent). I even had thoughts about going the brutal way with some `perl -pie 's/^\s+//'` thing to strip all inde

[2017-09-07 23:10] YorickPeterse commented on #179
@lloeki Does Ruby not emit any warnings if there's no indentation at all? I'd be surprised but if so that would be an easy way to work around the problem.

[2017-09-08 07:29] lloeki commented on #179
@YorickPeterse I just tested the following and it silenced the indentation mismatch warnings:

[code]

Therefore those are the remaining ones:

[code]

They exist only once per lexer file and appear to be completely unused from a cursory look at the code (also noted by @mbj [here](https://github.com/whitequark/parser/issues/360#issuecomment-319489720)). Excerpt:

[code]

I deleted them with:

[cod

[2017-09-08 15:03] YorickPeterse commented on #179
@lloeki

[code]

These variables can't be safely removed I'm afraid as they are used (or not) depending on how the Ragel code is written. `stack` for example is used when you use `fcall` in Ragel which is currently only used by the XML lexer. I don't fully remember when `top` and `testEof` are used, though `top` is also used by the XML lexer. I'm not a huge fan of having to adjust a Rake task depe

[2017-09-09 15:18] zumoshi opened #181 "Querying NodeSets"
Hello,

I looked at the docs but couldn't find any way to query a NodeSet (result of another query)
[code]

the idea is similar to how you can [do this](https://jsfiddle.net/xjj2dtkt/) in jquery:
[code]

also:
[code]

again the idea is similar to [this](https://jsfiddle.net/xjj2dtkt/1/) is jquery:
[code]
I'm sorry if this is already implanted but I missed it.

otherwise how hard would implanting t

[2017-09-09 17:54] YorickPeterse commented on #181
This is currently not supported, and truth be told I don't find it super useful either since you can just do:

[code]

Instead of `doc.css('div').css('span')`

There are also some technical difficulties. A NodeSet can contain different types of objects, some of which can be queried using `#css` / `#xpath` (e.g. `Element`), some of which can't (e.g. Text). Having NodeSet deal with all of this would

[2017-09-10 00:21] zumoshi commented on #181
I'm porting some jquery based web scraper code to ruby where those functions (or ones such as `.prevAll`) are used, I believe I can simulate most of the other ones if I have `find` and `filter`.

but the general idea is a multi-level search inside the page, imagine you have multiple sections on each page, where each of them has multiple tables, and each table has multiple rows.

perhaps [an exampl

[2017-09-10 13:00] YorickPeterse commented on #181
@zumoshi Looking at your example I don't see a particular good reason for extending NodeSet. In the JS code you're probably doing this because a single element doesn't have the jQuery methods, thus you have to do something like `$(t)`. In Oga you can just do something like this:

[code]

[2017-09-10 13:57] zumoshi commented on #181
perhaps not for the `find` method, since yesterday I've been working on a wrapper class that allows me to simulate jquery methods without needing to make any changes to `oga` itself, I have managed to simulate the original behavior this way:
[code]
(the original method lacks the `n` parameter and returns a new instance of the wrapper class to allow for a fluent API)

but I still have no idea how t

[2017-09-10 13:57] zumoshi opened #182 "Nested Pseudo-classes"
[code]
fails with:
[code]

while this is a valid css3 selector ([example](https://jsfiddle.net/Ljk96tsn/)).

[2017-09-10 14:57] YorickPeterse commented on #181
@zumoshi I have a bit of a hard time understanding your reply, and I still don't quite understand the usecase (perhaps because of that). Either way, querying should be done from a document or element, not from a NodeSet (at least in Oga itself).

Oga only implements the CSS selectors described in http://www.w3.org/TR/css3-selectors/ because these are well specified and most commonly available in o

[2017-09-10 14:59] YorickPeterse commented on #181
Regarding NodeSet, I don't want any querying methods there for the foreseeable future. As explained in https://github.com/YorickPeterse/oga/issues/181#issuecomment-328293433 this would require code to deal with all the different node types when querying and I don't want to have such code in Oga (it's complex enough already).

[2017-09-10 14:59] #181 closed

[2017-09-29 07:24] lloeki commented on #179
That's surprising, I grepped the whole thing, which returned only the assignments to those variables.

Anyway, another less intrusive way that keeps the assignments around is to reference the local variables with a method call (else you'd get warning of variable use in void context), which I achieved with a harmless `#nil?` noop right next to the assignment:

[code]

I'll fix the spec warnings and

[2017-09-29 11:57] YorickPeterse commented on #179
@lloeki Adding noop method calls just to work around warnings feels like over-engineering something that really doesn't hurt.

If getting rid of those variables is so important I think the best approach would be to do the following:

1. When generating the lexers we check for the number of occurrences of these variables
2. If the number is equal to 1 we remove the assignment, else we'll leave it

[2017-09-30 19:54] mistergibson opened #183 "Feature Request: work on :to_json for converting HTML and XML to json with one method"
Dear Yorick,

I was hoping that you could look at adding a :to_json method.

I'd like to do the following:

::Oga::parse_html(response.body).to_json

... and get a JSON formatted string containing every type, name, attribute, and content of each html element in the response.body.

Thanks

[2017-10-01 20:03] YorickPeterse commented on #183
What is the use case for this, and why would it be so important to include this in Oga itself instead of it being provided as a third-party library by someone else?

[2017-10-08 18:44] mistergibson commented on #183
I was thinking of passing the output to a web page where JavaScript would process the JSON

[2017-10-08 19:01] mistergibson opened #184 "Feature Request: add method to ::Hash - to_xml to covert ::Hash to xml data."
I don't know how you feel about augmenting standard kernel classes, but this would be very handy. I'm currently using xml-simple and don't feel it is outputting proper xml - particularly where ::Array are concerned. What do you say?

[2017-10-08 21:27] YorickPeterse commented on #184
Monkey patching standard library classes isn't something that belongs in Oga. Further, how would you provide a generic implementation of this? What should happen when running ` { a: 10 }.to_xml`?

Oga's goal is to provide a library for parsing XML/HTML and querying it, it's not a generic "convert to/from XML" library.

[2017-10-08 21:27] #184 closed

[2017-10-08 21:29] YorickPeterse commented on #183
I'm going to close this, for two reasons:

1. I don't think the use case warrants adding this to Oga
2. There's no generic way of representing XML in JSON. For example, comments can't be expressed in JSON. I also don't want to invent a structure to represent XML as JSON as at that point you should just use _either_ XML or JSON.

[2017-10-08 21:29] #183 closed

[2017-11-04 16:43] YorickPeterse commented on #75
This has been moved to https://gitlab.com/yorickpeterse/oga/issues/75

[2017-11-04 16:43] #75 closed

[2017-11-04 16:44] YorickPeterse commented on #164
This has been moved to https://gitlab.com/yorickpeterse/oga/issues/164.

[2017-11-04 16:44] #164 closed

[2017-11-04 16:44] YorickPeterse commented on #176
This has been moved to https://gitlab.com/yorickpeterse/oga/issues/176

[2017-11-04 16:44] #176 closed

[2017-11-04 16:44] YorickPeterse commented on #177
This has been moved to https://gitlab.com/yorickpeterse/oga/issues/177

[2017-11-04 16:44] #177 closed

[2017-11-04 16:45] YorickPeterse commented on #179
This has been moved to https://gitlab.com/yorickpeterse/oga/issues/179

[2017-11-04 16:45] #179 closed

[2017-11-04 16:45] YorickPeterse commented on #182
This has been moved to https://gitlab.com/yorickpeterse/oga/issues/182

[2017-11-04 16:45] #182 closed

[2017-11-04 16:45] yorickpeterse opened #185 "Please open new issues at https://gitlab.com/yorickpeterse/oga/issues"
This repository has been moved to https://gitlab.com/yorickpeterse/oga, so please open any new issues at https://gitlab.com/yorickpeterse/oga/issues. I won't respond to any GitHub issues.